[2016-10-30 13:17] mukulmalik18 opened #1 "Introduction to Machine Learning"
Title : Intro to ML

Level : Beginner

Aim : To explain fundamentals of Machine Learning

Link to Slides : https://docs.google.com/presentation/d/1zbAjPKd-YYCbis_E8BsTLAXTrHbMPHJnP85w3kRiqLg/edit?usp=sharing

[2016-10-30 13:23] sidgupta234 commented on #1
If you could add links to the slides/resources that you'll be using.

[2016-10-31 09:28] ayush1997 opened #2 "Introduction to Pandas"
Tile : Introduction to Pandas
Level : Beginners

Links : (in progress)
            http://slides.com/ayush1997/deck-1/

[2016-10-31 10:16] Harshitgupta15 opened #3 "Introduction to recommender Systems"
Recommender systems

1. Introduction
2. Types of recsys
3. Applications
4. Data Mining methods for recsys

[2016-10-31 11:59] RahulBaboota opened #4 "Introduction To Feature Selection"
Title : An Introduction to Feature Selection

Level : Beginner

Aim : To introduce Feature Selection and different methods regarding the same .

Links: In Progress
          http://slides.com/rahulbaboota/introfs

[2016-10-31 19:10] kajalthecoder commented on #3
https://docs.google.com/presentation/d/1WRqPAKKZLuebFytXxQvYfWNzxQVNn6MhZGTavGIt9Yc/edit?usp=sharing

[2016-11-01 12:05] manojpandey commented on #4
Too much content in slides

[2016-11-01 12:17] manojpandey commented on #4
@RahulBaboota Please avoid discussion forks :)
Example

Good slide: http://slides.com/rahulbaboota/introfs#/6
Not so good: http://slides.com/rahulbaboota/introfs#/3/1

[2016-11-01 12:22] RahulBaboota commented on #4
Got it

[2016-11-01 14:32] mukulmalik18 commented on #1
@sidgupta234 : I have added the link, I'll be adding a few things to it though.

[2016-11-03 04:34] rajarahulray opened #5 "Kivy: Python for Android"
Title: "Kivy: Python for Android "

Aim: Introduction to Kivy programming for making Android applications

Level: Beginner

Tutorial Demonstration: Yes

Link to Slides: **http://slides.com/rajarahulray/kivy_intro#/**

[2016-11-08 08:17] manojpandey commented on #1
Thanks for the talk Mukul. Closing this !
Please propose a new one for the next meetup - something building on this one maybe ? ;)

[2016-11-08 08:17] manojpandey commented on #2
Thanks for the talk ;)

[2016-11-08 08:17] #2 closed

[2016-11-08 08:18] manojpandey commented on #3
Thanks for the talk @kajalthecoder @Harshitgupta15 :)

[2016-11-08 08:18] #3 closed

[2016-11-08 08:18] manojpandey commented on #4
Thanks @RahulBaboota for the talk ! :)

[2016-11-08 08:18] #4 closed

[2016-11-08 08:20] manojpandey commented on #5
Hey @rajarahulray - It would be better to do this in a PyDelhi meetup [here](https://github.com/pydelhi/talks/issues/new?title=Proposal:%20%3Ctitle%3E&body=%3Cdescription%3E)
As discussed with @sidgupta234, we are trying that all talks at PyDataDelhi happens on the line of data science :)

[2016-11-08 08:22] manojpandey opened #6 "Workshop: pandas walkthrough for dummies"
I'll be taking a pandas hands-on session alongwith @ayush1997 in the next meetup 👍

Will update with content here soon !

[2016-11-08 08:34] RahulBaboota commented on #4
Pleasure's all mine  :D

[2016-11-10 16:03] greatdevaks opened #7 "Introduction to Genetic Algorithms"
A beginner-friendly conceptual approach...
[Proposal for next meetup]

[2016-11-14 07:44] sidgupta234 commented on #7
Kindly add the slides that you'll be using. @greatdevaks :D

[2016-11-14 07:47] greatdevaks commented on #7
Sure.

On 14 Nov 2016 13:14, "Siddharth Gupta" <notifications@github.com> wrote:

[2016-11-14 07:50] greatdevaks commented on #7
Could you tell the date for which it is going to be scheduled.

Manoj told 27 nov. or 4 dec..

Please tell the actual date because I will be in Finland (junction) in last
week of November.

On 14 Nov 2016 13:17, "Anmol Krishan Sachdeva" <greatdevaks@gmail.com>
wrote:

Sure.

On 14 Nov 2016 13:14, "Siddharth Gupta" <notifications@github.com> wrote:

[2016-11-20 05:36] Dawny33 commented on #5
+1 @manojpandey

This talk would be more appropriate as a PyDelhi talk, or maybe a lightning talk.

[2016-11-20 05:36] #5 closed

[2016-11-20 06:40] Anmol-Sharma opened #8 "Getting to know Decision Trees, Random Forest and Gradient Boosted Methods"
**Introductions**, **Walk through on how Tree methods work** , **Applications**, and a **Quick Demo.**

[2016-11-20 06:41] manojpandey commented on #8
Pre-requisites ? @Anmol-Sharma

[2016-11-20 06:45] Anmol-Sharma commented on #8
Just Basic of **ML** which people got to know in our last meetups about ML, **pandas, numpy. **
Might give demo in H2O.ai or sklearn
I intend to give it in a newbie friendly way as i know a lot of our member are still in college and just Beginning with ML so just to give them an idea about how this usefull methods

[2016-11-21 03:59] rajarahulray commented on #5
Thanks for considering my proposal for PyDelhi.... I have already applied for it.... Let's see if I get the approval.... Tahnks again...

[2016-11-21 05:51] Dawny33 commented on #8
@Anmol-Sharma Awesome. Looking forward to the slides. Please include them here, as soon as you are done building them up :)

[2016-11-21 11:20] manojpandey commented on #1
@mukulmalik18 Ping

[2016-11-21 12:22] Anmol-Sharma commented on #8
Ok @Dawny33  @manojpandey will add the link here in about 2-3 Days

[2016-11-22 10:08] manojpandey commented on #7
So, as @greatdevaks is travelling to Finland, let's postpone this for the next meetup in December :)

[2016-11-22 10:10] manojpandey commented on #1
Closing this one. @mukulmalik18 Create new one :)

[2016-11-22 10:10] #1 closed

[2016-11-22 15:16] manasRK opened #9 "Understanding NLIDB basics - How NLP can drive best search engine systems"

[2016-11-23 11:58] manojpandey commented on #9
@manasRK How much time do you need for you talk + Q/A in total ?

[2016-11-23 11:58] manojpandey commented on #8
@Anmol-Sharma Updates ?
Also, How much time do you need for you talk + Q/A in total ?

[2016-11-23 12:08] Anmol-Sharma commented on #8
Will add Slides link Tomorrow.
I need about 50-60 minutes to complete everything... I won't be going in too much details as just the important things people should know.

[2016-11-23 12:11] Anmol-Sharma commented on #8
infact make it 60-70..

[2016-11-23 13:56] manasRK commented on #9
30+10 should be okay

[2016-11-23 13:59] manasRK commented on #9
@manojpandey Saw I have been allocated one hour. :)

Means I can sneak in some more advanced content. :)

[2016-11-23 14:30] manojpandey commented on #9
Yes, would love to hear you 😃

[2016-11-24 09:09] Anmol-Sharma commented on #8
https://docs.google.com/presentation/d/12j5KZv1QqkxviTd4TRQzIDTq75U6isq8TyFe5Hm2DWo/edit?usp=sharing

Here this is the link to the presentations... although i'm still editing it... My system is having some issues so i'm not able to be fully productive... I'm hopefull that i'll be able to complete it by tonight

[2016-11-25 05:05] Dawny33 commented on #8
@Anmol-Sharma Awesome.

Just a random idea:  Would it be good if we have a brief on ID3 too?

[2016-11-25 06:28] Anmol-Sharma commented on #8
I wouldn't mind incorporating that if want its just that right now its just too much to swallow... not for those who are aware but for those who are completely new... ok this is what i'll do.. i'll add a little overview of that too... although i'm still editing them as my system is in pretty bad state right now..

[2016-11-25 08:28] shagunsodhani commented on #8
@Anmol-Sharma Maybe have them in the deck but decide weather to present or not depending on how the rest of the talks goes during the presentation.

[2016-11-25 08:47] Anmol-Sharma commented on #8
@shagunsodhani cool... will keep you recommendation in thought.

[2016-11-28 03:27] Dawny33 commented on #8
Delivered.  Closing this.

Thanks a lot @Anmol-Sharma :)

[2016-11-28 05:05] Anmol-Sharma commented on #8
My Pleasure @manojpandey @Dawny33

[2016-12-03 03:47] shagunsodhani opened #10 "Introduction to Deep Learning with Keras"
**Topic**

Introduction to Deep Learning with Keras

**Description**

The talk would cover introduction to Keras and how to use it for deep learning tasks like image classification.

**Prerequisites**

Basic familiarity with concepts like convolutions, neural networks etc.

**Content URLs**

[Demo](https://github.com/shagunsodhani/keras-demos)
[Presentation](http://slides.com/shagunsodhani/keras20

[2016-12-04 21:24] manojpandey commented on #10
Mostly the crowd is beginner - not sure if they would have covered this. But let's see what @Dawny33 and others have to say.

For me, I'd still want this to happen, as it'll be very interesting ! 💯

@Dawny33 We need a review for this talk here ! 👍

[2016-12-04 21:25] #9 closed

[2016-12-04 21:26] manojpandey commented on #8
@Anmol-Sharma Would you like to take up Boosted methods (which were left in this meetup), for the upcoming meetup ? 😄

[2016-12-04 21:26] manojpandey commented on #7
@greatdevaks Do you want to take this up this time ?

[2016-12-04 21:26] #8 closed

[2016-12-04 21:27] manojpandey commented on #6
Will take this up for our 2017 series of workshops (second meetup every month, as we discussed) :)

[2016-12-05 04:26] Anmol-Sharma commented on #8
I would love to, but i don't know if i will be available in the next meetup. If i make it we can do this like a demo sprint or something where we can show people with code implementation this is how things are done and explain the inner details while showcasing demo

[2016-12-09 16:50] Dawny33 commented on #10
@manojpandey Just had a discussion with @shagunsodhani

The plain is, to start with a basic neural net, so that the audience understands Keras. And then, adding layers subsequently which helps the folks get a hang of deep learning and it's basics, as well as how Keras works

[2016-12-10 14:44] satyaakam commented on #10
@shagunsodhani how much time do you need for this talk ? Shall we put your talk in the 12:30 Pm to 2Pm Slot ?

[2016-12-10 17:29] shagunsodhani commented on #10
1 hour should be sufficient. I am happy extending it further but would prefer to use the extra time for promoting @PyDelhi's PythonConf, PyCon and @pydatadelhi's conference.

[2016-12-10 19:06] Dawny33 commented on #10
@shagunsodhani To note:  This talk is for the Pydata meetup, not for the unconference.
[Clearing out the confusion]

[2016-12-10 19:09] satyaakam commented on #10
@shagunsodhani do is this talk for the 17th meeting or otherwise can you clarify as @Dawny33 stated ?

[2016-12-10 19:15] shagunsodhani commented on #10
@Dawny33 We are doing two things on 17th - the combined meetup (12-4) and unconference (4-7). I was thinking of doing it as part of meetup. Sorry even I am getting confused now. I thought the meetups for the 2 groups take place together now.

[2016-12-10 19:18] satyaakam commented on #10
@shagunsodhani ok i have not seen the format emerging so yeah sounds like a plan now so lets push for this format only , 12-4 Combined presentations and then Unconference.

[2016-12-10 19:24] manojpandey commented on #10
@satyaakam I think we decided for the unconference together (general discussions), but not sure about the talks too, as many people are having exams, so the regular meetup happens on the 18th or 25th (subject to availability of a place) and PyDataDelhi folks will be looking forward to some talks at the regular meetup as well 😄

But @shagunsodhani You can go ahead and speak about your topic at the

[2016-12-11 18:41] Arsh23 opened #11 "Are Bots that you can't defeat intelligent ?"
This would be a short and fun talk on the [minimax algorithm](https://en.wikipedia.org/wiki/Minimax) loosely based on my [project using tictactoe](https://github.com/Arsh23/tictactoe).
Slides and more content would be up soon

ps : title subject to change :)

[2016-12-14 12:29] Dawny33 commented on #11
@Arsh23 Can you explain the title?  I guess it's a bit confusing, or is that only me?

cc @manojpandey ?

[2016-12-14 15:28] shagunsodhani commented on #11
@Arsh23 May be make it more catchy - Infusing intelligence in bot ?

[2016-12-14 15:58] manojpandey commented on #11
@Dawny33 The project that @Arsh23 has built is making an unbeatable AI to play tic-tac-toe game, which is done using a Minimax algorithm with alpha beta pruning for search.

So possibly a title like these would be good:
- Using AI behind simple games
- Making AI powered simple games that you can't beat
- Infusing intelligence in games: A primer to AI

More suggestions are welcome @Dawny33 @shaguns

[2016-12-15 11:06] Arsh23 commented on #11
@Dawny33 @shagunsodhani the title is just a placeholder for now, will update it as I think of a better one

@manojpandey yeah the wbw discussion on ASI, AGI & ANI will be a part of the talk

also, i wanted to start a discussion on whether these types of bots are considered intelligent ? If not then what should be considered "intelligent" , thats why the title :)

[2016-12-21 17:52] Dawny33 commented on #10
@shagunsodhani Safe to close this issue as `delivered`?

cc @manojpandey

[2016-12-22 05:36] manojpandey commented on #10
@shagunsodhani Do you want to speak on the same lines at the PyDataDelhi's next meetup ? (happening this Sunday, 25th) ?

otherwise, we can close it @Dawny33 :+1:

[2016-12-22 06:11] shagunsodhani commented on #10
Closing for now. Maybe will do a more hands-on version in Jan :)

[2016-12-22 06:11] #10 closed

[2016-12-24 06:26] rishikksh20 opened #12 "Deep Unsupervised Learning with TensorFlow"
1. Introduction to Tensorflow framework.
2. Basic neural network model using Tensorflow.
3. Introduction to Autoencoders and RBM.
4. Recent success in Unsupervised Learning with Generative Models for Image.
5. Brief discussion over applying Generative model in Natural language processing (Recent research topic in Google Brain ).

[2016-12-24 10:35] shagunsodhani commented on #12
@rishikksh20 It is a very interesting topic :+1: Could you please add the link to slides/demo? Also can it be a part of talk tomorrow? cc @Dawny33 @manojpandey

[2016-12-24 17:04] manojpandey commented on #12
Superb ! @rishikksh20 Can you do this tomorrow ? 😄

[2016-12-24 17:05] manojpandey commented on #12
@shagunsodhani I think we can even divide some topics, so that we can have 2-3 talks from these 5 ideas. How about it @rishikksh20 ?

[2016-12-24 18:33] manojpandey commented on #12
So, @rishikksh20 is taking talk on `Auto-encoders, RBM and Deep Belief Networks` 🎉

[2016-12-25 06:18] rishikksh20 commented on #12
Slides: https://docs.google.com/presentation/d/1p_WUQQLWQu5FJ9DnUyO3TEGHn4MVFnrEPGQ1F4IGUMg/pub?start=false&loop=false&delayms=3000

[2016-12-25 06:35] chandinijain opened #13 "Data Science and Finance: Trading Strategies using Python"
Introductory talk describing how to create and backtest trading strategies in Python and a walkthrough of some simple and common trading strategies

[2016-12-25 06:37] chandinijain commented on #13
We are organizing a competition which will give a chance for the members of your group to interview with some top trading firms. The competition goes live on Jan 30. Would like to schedule this talk before the competition.

[2016-12-26 17:05] Dawny33 commented on #13
@chandinijain Thanks for proposing the talk.

Possible to include more details about the talk, like the details about the speaker, the talk's possible duration, etc?
(This is the Quant pckg of JuliaLang which have elaborate support for backtesting and other quant strategies: https://github.com/JuliaQuant )

[2016-12-26 17:08] Dawny33 commented on #12
@rishikksh20 The slides look quite elaborate and awesome :)   Thanks a lot for the efforts 👍

[2016-12-28 16:30] chandinijain commented on #13
We would like to conduct a 30-45 min informative talk, covering application of data science and ML to trading, specifically algo-trading.

The title of the talk is: Trading Strategies using Python - Become a Quant

Speaker: Chandini Jain: ex - Derivatives Trader, Optiver with 5 years of experience in finance. Worked as an Analyst with Deutsche Bank prior to joining Optiver in Chicago where we empl

[2017-01-02 09:10] manojpandey commented on #12
@rishikksh20 What do you want to take next from {1,2,4,5} ? (Next meetup is on 15th Jan)
@Dawny33 What do you think should be most apt ?

[2017-01-02 09:10] manojpandey commented on #11
@Arsh23 Update here please ! Confirm this for the next meetup.

[2017-01-02 09:11] manojpandey commented on #7
@greatdevaks Any updates here ?

[2017-01-02 09:12] manojpandey commented on #13
@chandinijain : Can you link to the slides that you'll use or any other information that will be used during the talk ?

[2017-01-02 12:20] Dawny33 commented on #12
@manojpandey 1,2,3,4,5 All look well in order.

[1,2], [3] and [4,5] can be taken as sets on 3 separate days.  Wat say @rishikksh20 ?

[2017-01-02 13:32] rishikksh20 commented on #12
Ok @manojpandey @Dawny33 lets go with [1,2] for 15th January

[2017-01-03 00:50] manojpandey commented on #12
Perfect @rishikksh20 😄

[2017-01-03 08:14] chandinijain commented on #13
Sure, I'll upload it this weekend

[2017-01-11 20:03] manojpandey commented on #13
Any updates here @chandinijain ?

[2017-01-11 20:03] manojpandey commented on #12
@rishikksh20 Are you all set ?

[2017-01-11 20:03] manojpandey commented on #11
@Arsh23 Ping ?

[2017-01-11 20:14] rishikksh20 commented on #12
Yeah !!!

[2017-01-11 20:15] manojpandey commented on #12
🎈  Looking forward to hear you @rishikksh20

[2017-01-11 20:16] manojpandey commented on #12
btw if you have any suggestions for talks, you can create an issue

[2017-01-12 16:57] Arsh23 commented on #11
I am busy this week, so wont be possible for this meetup

[2017-01-13 09:02] rishikksh20 commented on #12
Prerequisites for sunday's talk :
1) Basic understanding of machine learning concepts.
2) Basic linear algebra using in linear regression and neural network.
3) Beginner level knowledge of python and numpy.

[2017-01-13 19:20] sidgupta234 opened #14 "Talk links of the 4th meetup haven't been added in the README"

[2017-01-13 19:23] sidgupta234 commented on #6
We can close this, as this was delivered in the last meetup?!

[2017-01-21 16:50] manojpandey commented on #12
@rishikksh20 We are having this tomorrow. I hope you are aware of that :)
All the best 👍

[2017-01-21 18:17] rishikksh20 commented on #12
Tomorrow's Slides :
https://docs.google.com/presentation/d/1-xP3eLQKslV4OuaGeW7TL0-fp6G7onPIClsBWWz243w/edit?usp=sharing

[2017-01-21 21:46] rishikksh20 commented on #12
Hands-on notebooks:
https://drive.google.com/drive/folders/0B5ZXkjPt00SBZzdRWV90QnJfWTA?usp=sharing

[2017-01-26 03:29] chandinijain commented on #13
Hey, Sorry this completely dropped off my calendar. You can view sample presentation here:
https://docs.google.com/presentation/d/1PQcRxq8TVAjugx8lrFfV9-HsAsjYx8twWHLWdoaBRVE/pub?start=false&loop=false&delayms=3000
The presentation can be tailored based on the audience.

[2017-01-30 13:50] chandinijain commented on #13
@manojpandey @Dawny33

Hey, any updates? We're in Delhi this weekend and next, would it be possible to schedule something?

[2017-01-31 17:08] manojpandey commented on #13
The meetup is on 5th Feb at Bobble HQ
https://www.meetup.com/PyDataDelhi/events/236853534/

Possible to do it this time ? @chandinijain
Approx people who will join = ~80

[2017-01-31 18:00] manojpandey commented on #12
**ICYMI** ^ This is now happening on 5th Feb at Bobbble HQ. @rishikksh20 :)

[2017-01-31 19:04] ayush1997 opened #15 "YouTube LikeCounts Prediction using Machine Learning"
In this talk I would be discussing about a Machine Learning problem I had been recently working on - "YouTube LikeCounts Prediction using Machine Learning".
I would be talking about the whole pipeline followed for this task starting from the Data Collection to Modelling along with the challenges faced during this task.
This talk will help beginners who want to get started with practical DataScienc

[2017-01-31 20:28] chandinijain commented on #13
@manojpandey
We have another am talk at 11am, should be free by 1. Possible to schedule our talk at or after 1:30?

[2017-01-31 22:27] rishikksh20 commented on #12
ICYMI ?

[2017-02-01 05:29] manojpandey commented on #12
In case you missed it ;)
But I think I told you over whatsapp, so it's fine 👍

[2017-02-01 05:30] manojpandey commented on #13
Sure, sounds good. I'll update here with your slot.

[2017-02-01 08:14] slaith opened #16 "Neo4J : Databases done right!"
I love neo4j, but not for the usual reasons.  Performance, traversals and recommendations apart...  I love it because it makes sense. Databases should be modelled the way you would you do them on paper and neo4j lets you do just that. Queries should look the way you think about them. Cipher does just that.
I'll be demonstrating some of neo4j's capabilities, some unique use cases and jokes... a lot

[2017-02-01 08:17] manojpandey commented on #16
Great @slaith .
The meetup is on 5th Feb. All talks get recorded and uploaded to our YouTube channel as well.

Please also list pre-requisites that will be required and it'd be great if you could also add some resources to learn and implement Neo4J in small projects in your slides.

👍 for jokes haha !

[2017-02-02 13:13] manojpandey commented on #15
Don't close. Put on hold

[2017-02-03 14:00] chandinijain commented on #13
@manojpandey Just wanted to confirm the talk on Sunday. What time is our talk? Thanks.

[2017-02-04 06:07] rishikksh20 commented on #12
@manojpandey please update meetup `Schedule` and upload all previous talk videos.

[2017-02-04 13:44] slaith commented on #16
What  is the status on this? What time do we have to present?

[2017-02-04 15:04] manojpandey commented on #13
Updated agenda: https://www.meetup.com/PyDataDelhi/events/236853534/

[2017-02-04 15:04] manojpandey commented on #16
Updated agenda: https://www.meetup.com/PyDataDelhi/events/236853534/

[2017-02-04 15:04] manojpandey commented on #15
Updated agenda: https://www.meetup.com/PyDataDelhi/events/236853534/

[2017-02-04 15:04] manojpandey commented on #12
Updated agenda: https://www.meetup.com/PyDataDelhi/events/236853534/

[2017-02-05 06:46] akul08 commented on #13
Hi @chandinijain, Are you coming for the meetup on 5th feb. How do we contact you?

[2017-02-05 07:54] chandinijain commented on #13
Hey,

Yes I just got free from the first talk. Heading over soon

On Feb 5, 2017 12:16 PM, "Akul Mehra" <notifications@github.com> wrote:

[2017-02-08 16:51] Dawny33 commented on #13
Safe to close this?

cc @manojpandey @akul08

[2017-02-10 11:06] #16 closed

[2017-02-10 11:07] #15 closed

[2017-02-10 11:08] manojpandey commented on #12
Next up: Recent success in Unsupervised Learning with Generative Models for Image. ?
@rishikksh20

[2017-02-13 07:48] rishikksh20 commented on #12
@manojpandey I have an amazing idea !!!
I am one of the contributor of newly developed and performance friendly `Julia Language` which is as fast as C and as simple to learn as Python read more <a href="https://www.quora.com/What-is-so-special-about-the-Julia-programming-language">here </a>. But right now there is no sophisticated Data analysis framework available for Julia like Pandas and scikit-

[2017-02-13 08:42] Dawny33 commented on #12
Hi @rishikksh20. Just my two cents

Don't we already have JuliaStats[http://juliastats.github.io/] and Julia's dataframes for that?

I see Julia's df's being almost on par with Pandas's (https://github.com/JuliaStats/DataFrames.jl), esp cause it's constantly under development. So, not so long before it can get there :)

[2017-02-13 09:11] rishikksh20 commented on #12
Agree with you @Dawny33 but my concern is something else, scikit-learn and scipy design & algorithm implementation is much better than juliastats and also much more user friendly. Most of the libraries in scipy written in Fortran and C with higher level of optimisation.  I am saying that we can reuse algorithms level  code and design pattern of scipy , scikit-learn and pandas and re-implement it i

[2017-02-18 22:55] rishikksh20 commented on #12
Tomorrow's Slides :
https://docs.google.com/presentation/d/1qxZcDW85bIYoDi24lOq2bLndRU2FgDkP6Vg1qi3mFjo/edit?usp=sharing

[2017-02-18 22:58] rishikksh20 commented on #12
Study Variational Autoencoders :
https://jaan.io/what-is-variational-autoencoder-vae-tutorial/

[2017-03-15 14:12] tushar0225 opened #17 "Auto-generate 3D models using 2D images"
Overview: Showcasing a prototype that uses GANs to auto-generate 3D models using multi-point 2D images.

Use Cases:
1. Using an image captured from depth cameras to a create precise 3D objects
2. Style transfer: The 3d model takes the skin of the environment it is in. Making the object look very real, building a sort of relationship with surrounding objects
3. Using existing multi-point view image

[2017-03-15 14:15] manojpandey commented on #17
@tushar0225 Add: **Prerequisites**
- How much time do you need for this talk ?
- Do you want to give it as a talk or will you also want people to follow up through the code using an iPython notebook ? :)

[2017-03-15 14:19] tushar0225 commented on #17
1) 30 mins should be ok
2) Yes!

[2017-03-21 11:19] manojpandey commented on #17
@tushar0225 Are you ready on this ?
Meetup would be on 26th Mar (Sunday). More details in a day 👍

[2017-03-21 11:20] manojpandey commented on #12
@rishikksh20 Good to close this, or is there something left to include for the upcoming sessions from this ?
For new stuff, new issue can be created 👍

[2017-03-21 11:20] manojpandey commented on #11
@Arsh23 Can you do this on 26th ? Maybe a lightning talk if not a full talk - but I expect better things from you 👍

[2017-03-21 11:21] manojpandey commented on #7
@greatdevaks Do you want to take this soon ?
We're meeting on 26th March !

[2017-03-21 11:22] manojpandey commented on #6
I can take this up, if we get a good space with around 2-3 hours of time - so, on hold for now.

[2017-03-21 11:22] manojpandey commented on #14
@akul08 Can you take this up - update all talks/video/slides link ?

[2017-03-21 11:23] tushar0225 commented on #17
Hi Manoj - I will be in India between April 5th and April 17th. I am travelling on 10/11/12 April. Any meet-up happening between April 5 and 9th or between April 13th and 16th ? Sorry for providing so little flexibility.

[2017-03-21 11:25] manojpandey commented on #17
@tushar0225  : Yes, next meetups will be on April 2 and April 16 :)
No worries - so i think you can do this on April 16th !

[2017-03-21 11:29] tushar0225 commented on #17
April 16th it is. Thanks so much :)

[2017-03-21 12:18] kajal-puri opened #18 "Introduction to Intent Analysis"
This talk will cover the business as well as technical aspect of AI-based startups use ML/NLP to generate revenue!

Link to the presentation will be added shortly!

[2017-03-21 13:48] prabhant opened #19 "Gotchas in Pandas"
this presentation will cover

1. Using If/Truth Statements with pandas
2. Bitwise boolean

and others gotchas
https://github.com/prabhant/Talk-Pandas-Gotchas/blob/master/Pandas%20Gotchas.ipynb

[2017-03-21 14:12] mansigoel opened #20 "Tutorial on Basic Text Processing using NLTK"

[2017-03-21 14:33] manojpandey commented on #19
Hey @prabhant - I can help you with this one.
Have an extensive list of them here: gist.github.com/manojpandey/41b90cba1fd62095e247d1b2448ef85b 💯

[2017-03-21 14:34] manojpandey commented on #19
btw, do you plan to give this as a lightning talk or a full talk ?

[2017-03-21 15:17] manojpandey commented on #18
@kajal-puri
- How much time do you need for this ?
- Are there any pre-requisites for the talk ?
- Would you be showing some code as well ?

😄

[2017-03-21 16:00] prabhant commented on #19
Hey thanks for the list
It's gonna be a 5-7 minute talk.
And i'll be giving it with Jupyter notebook
not with slides.

[2017-03-21 18:09] manojpandey commented on #19
@prabhant : Okay, let's do this then as a lightning talk. 7 min + 3 min questions 👍
Will update you when agenda is up on the meetup page :)

[2017-03-21 18:13] manojpandey opened #21 "[Request] Tutorial on scikit-learn"
Please update here with details, if anyone can take this up 👍

[2017-03-21 18:17] manojpandey opened #22 "[Request] Tutorial on Getting started with NLP using spaCy"
Update here, if someone from the community can take this up 👍

[2017-03-22 05:00] #12 closed

[2017-03-22 05:48] shagunsodhani commented on #20
Hey @mansigoel

1. How much time do you need for this ?
2. Would you be doing some demo/hands-on coding?
3. Could you please add pre-requisites and slides for the talk?

[2017-03-22 15:09] prabhant opened #23 "[Request] Newsbytes in the start"
A lot has happened this month in Data science and AI so let's have a small 5-10 minute section in the beginning of this meetup for **Newsbytes**, where all of us can share and discuss the latest news.

[2017-03-22 15:13] manojpandey commented on #23
@prabhant Sounds good. A lot of stuff is happening, it's almost hard to catch up, but we can still discuss some stuff that's been happening :) Thanks for the suggestion !

Some resources that I use:
- Deep learning Weekly: http://digest.deeplearningweekly.com/
- The Wild week in AI: https://www.getrevue.co/profile/wildml

[2017-03-22 15:22] Dawny33 commented on #23
@manojpandey @prabhant Nice idea. Probably a nice, quick 5 min session would do.

Please compile them in an md file, so that we can keep updating it as people come across new news sources :) .

[2017-03-22 16:05] devenbhooshan opened #24 "Semantic Similarity between sentences using word vectors"
The focus would be on "Leveraging Semantic Similarity of two sentences to build FAQ bots".

1. How much time do you need for this?
*30-35 minutes*
2. Would you be doing some demo/hands-on coding?
*Yes*
3. Could you please add pre-requisites and slides for the talk?
[TODO]

[2017-03-22 16:09] shagunsodhani commented on #24
Hey @devenbhooshan. The topic looks interesting. Could you please add some info about yourself as well along with the slides/perquisites?

[2017-03-22 20:23] prabhant commented on #23
Hey i compiled some topics which we can add in this section ,take a look at them
https://github.com/prabhant/Newsbytes/blob/master/Newsbytes.md
these are just the headings, i'll add the description tomorrow. Feel free to add any news.

[2017-03-23 11:07] devenbhooshan commented on #24
**About me**
I am the co-founder of [MindIQ](https://www.mindiq.in). We are into bots and customer support. Would love to share what we are building here.
I have a deep interest in NLP/AI/ML. I fantisise about the world where machines are able to talk and behave like humans.

**Slides**
 I think I am late for the talk on 26th. Will share the slides by next week.

[2017-03-23 12:27] manojpandey commented on #24
@devenbhooshan We can take this up for the talks in April. Are you in Delhi for the month of April ? :)

[2017-03-23 12:27] manojpandey commented on #20
@mansigoel Ping 😄

[2017-03-23 12:58] devenbhooshan commented on #24
Yes 👍

[2017-03-23 19:22] manojpandey commented on #24
Awesome @devenbhooshan
I'll update you on the dates in the first week of April :)

[2017-03-23 19:41] mansigoel commented on #20
Hey,

Our tutorial would try to cover the following topics with a small task at the end:
1. Installation
2. Stemming and lemmatization
3. Tokenization
4. Pos Tagging
5. Classifiers
6. Sentiment Analysis
7. NER

We would be using iPython notebook. There would be minimal slides for only the introduction part.

[2017-03-24 11:34] keratin7 opened #25 "[Request] Anatomy of deep learning frameworks"
Comparison of various deep learning frameworks keras, tensorflow, theano, pytorch, chainer etc.

[2017-03-24 11:36] shagunsodhani commented on #25
Hey @keratin7 Could you please add the following information:

- How much time do you need for this?
- Would you be doing some demo/hands-on coding?
- Could you please add pre-requisites, slides and speaker bio for the talk?

[2017-03-24 11:39] keratin7 commented on #25
@shagunsodhani I won't able to cover it. Not enough experience with the libraries. Just a suggestion for the topic.

[2017-03-24 11:40] shagunsodhani commented on #25
@keratin7 Ohh its a "Request for Talk" :sweat_smile:

[2017-03-24 11:41] manojpandey commented on #25
@shagunsodhani @keratin7 I've changed the title now, for any confusion :)

[2017-03-24 11:41] keratin7 commented on #25
@shagunsodhani @manojpandey It was. My bad. Thanks for the edit!

[2017-03-24 11:42] manojpandey commented on #20
@shagunsodhani Review

[2017-03-24 11:46] shagunsodhani commented on #20
The sub topics look good. @mansigoel could you please add the notebook as well.

[2017-03-24 19:43] manojpandey commented on #20
@mansigoel
This would happen after the talk on Intent analysis.
Agenda here: https://www.meetup.com/PyDataDelhi/events/238584929/

[2017-03-24 19:45] manojpandey commented on #18
@kajal-puri This would be the first talk of the day !
Agenda here: https://www.meetup.com/PyDataDelhi/events/238584929/
Please arrive on time 😛

[2017-03-24 22:15] ananyahjha93 opened #26 "CNNs using Tensorflow"
1. How much time do you need for this?
45 minutes
2. Would you be doing some demo/hands-on coding?
Yes
3. Could you please add pre-requisites and slides for the talk?
[Slides](https://docs.google.com/presentation/d/1k3D4fXlQEokt0sZqS8eB7MIBF45RE9RUslnvCYZHh_A/edit?usp=sharing)

[Jupyter notebook](https://gist.github.com/ananyahjha93/7f5dd697c72d3fd4bd7ebef0d94bb4fd)

Uploaded a gist for the jupyte

[2017-03-25 04:14] shagunsodhani commented on #26
Hey @ananyahjha93 The proposal look good. Could you please add the link to the demo code/notebook as well?

[2017-03-25 14:55] ananyahjha93 commented on #26
@shagunsodhani Done.

[2017-03-25 16:45] prabhant commented on #23
Updated Newsbytes Doc with description and link

[2017-03-25 17:33] shagunsodhani commented on #26
@ananyahjha93 This looks good. Best of luck with your talk :smile:

[2017-03-25 17:36] manojpandey commented on #26
@ananyahjha93 Instead of the PDF, can you add the ipython notebook - so that people can use it directly ?

Also, we'll be recording the talk and uploading it to YouTube later. I hope you don't have any issues with that :)

[2017-03-25 17:37] manojpandey commented on #23
Great. @prabhant Can you send in a PR to this repo `talks` to add the newsbytes, so that we can keep it updated every week or so ? :)

cc: @shagunsodhani

[2017-03-25 17:45] Dawny33 commented on #25
@keratin7 Nice idea.

One of my friends has written an article about the same recently: http://www.kdnuggets.com/2017/02/anatomy-deep-learning-frameworks.html

[2017-03-25 17:46] kajal-puri commented on #18
@manojpandey

1. Time needed would be 20-30 minutes!
2. No, it's a beginner friendly talk.
3. Yes, I'd be showing some code as well!
4. I'll try to reach on time.

[2017-03-25 17:49] manojpandey commented on #25
Woah ! This looks fantastic. If no one takes this up, I'll take it up in the next to next meetup 👍

Feel free to recommend though, who would be more comfortable on this.
@rishikksh20 @mukulmalik18  ?

[2017-03-25 17:52] manojpandey opened #27 "Add issue template to this repo"
Read this: https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2017-03-26 07:31] Dawny33 commented on #27
@manojpandey Merged the PR.

Pl go ahead and close this issue, and deleting the corresponding branch :)

[2017-03-26 16:13] manojpandey commented on #27
\o/

[2017-03-26 16:13] #27 closed

[2017-03-26 17:39] ananyahjha93 commented on #26
@manojpandey Uploaded the notebook. I have no problem with the talk being uploaded on youtube. Just one thing, since I am using the code from Siraj Raval's repository, could you add the same disclaimer above in Youtube's description for the video.

[2017-03-26 17:41] manojpandey commented on #26
Sure. Will make sure.
cc: @Arsh23

[2017-03-27 03:56] shagunsodhani commented on #20
@manojpandey can we close this? @mansigoel could you please add the link to the notebook you used?

[2017-03-27 14:24] Dawny33 opened #30 "[Request] Introduction to Julia"
Please update here with details, if anyone can take this up 👍

(I can help with your preparation and slides :) )

[2017-03-27 20:46] manojpandey commented on #18
Yo @kajal-puri Next meetup's on 16th & 29th April. Think you can do this ? 😄

[2017-03-27 20:47] manojpandey commented on #19
Thanks for the talk @prabhant
Closing this ! Will update the talks page soon :)

[2017-03-27 20:47] #19 closed

[2017-03-27 20:48] manojpandey commented on #26
@ananyahjha93 This was a wonderful talk, with everything explained beautifully !
Closing this thread. Feel free to open a new one for another talk 😄

[2017-03-27 20:48] #26 closed

[2017-03-29 15:08] manojpandey commented on #24
April 16th, Sunday at UrbanClap HQ in Gurgaon ! 🎉

[2017-03-29 15:08] manojpandey commented on #17
April 16th, Sunday at UrbanClap HQ in Gurgaon ! 🎉
@tushar0225

[2017-03-29 15:47] devenbhooshan commented on #24
Awesome 🎉
Will create/upload the slides

[2017-04-05 13:32] devenbhooshan commented on #24
I have started creating the slides [here](https://devenbhooshan.github.io/pydata-delhi/#1). Will keep pushing the slides whenever I get time.

[2017-04-06 16:33] smilesikand commented on #17
@manojpandey - what time is it ?

[2017-04-13 20:16] manojpandey commented on #17
Hey @tushar0225 and @smilesikand : Slight issue with the meetup venue for the dates.
We're shifting it to April 23 (next sunday, after 16th)
So sorry for the inconvenience @tushar0225

Maybe we can take this up next time you're in Delhi again in the future  😄

[2017-04-13 20:17] manojpandey commented on #24
@devenbhooshan Slight change on the dates - it's April 23 (Sunday) now, instead of 16th!
So sorry for the last minute changes. I hope it's still okay ? 😄

[2017-04-13 20:18] manojpandey commented on #20
@mansigoel Could you add the notebook please ? 😄

[2017-04-13 20:19] manojpandey commented on #11
@Arsh23 Can you do a talk on AI techniques like A*, Alpha beta pruning and other heuristics in the next meetup and demo the project as well ? 😄

[2017-04-13 20:21] manojpandey commented on #21
@ayush1997 Want to give any suggestions ?

[2017-04-14 04:42] rishikksh20 commented on #21
Up for this.

[2017-04-14 06:15] devenbhooshan commented on #24
@manojpandey ohh.
Let me check but most probably it would be ok.

[2017-04-15 11:05] prabhant opened #32 "Introduction to Generative adversarial networks"

[2017-04-15 19:50] mananpal1997 opened #33 "Introduction To Computer Vision And It's Applications"
- Abstract (2-3 lines)
An introduction to computer vision and its applications, followed by some basic image processing methods and techniques using OpenCV (python bindings).
- Brief Description and Contents to be covered.

    - What is computer vision and what are it's applications?
    - OpenCV introduction
        - Basic OpenCV data structures
        - Image and pixel types
    - Matrix oper

[2017-04-16 05:22] shagunsodhani commented on #33
@mananpal1997 This looks good. When would you like to take this talk? cc @manojpandey

[2017-04-16 05:55] mananpal1997 commented on #33
@shagunsodhani is there any free time interval in April talks? I got my end semesters starting in May, so then in May end if not in April.

[2017-04-16 06:03] shagunsodhani commented on #33
Hey @mananpal1997 .

There is a [meetup on 23rd April](https://www.meetup.com/PyDataDelhi/events/238798323/). Would that work for you? cc @manojpandey

[2017-04-16 07:39] mananpal1997 commented on #33
@shagunsodhani yep, that'll be cool.

[2017-04-16 07:49] manojpandey commented on #24
Thanks. Please update as soon as possible 😄

[2017-04-16 07:52] manojpandey commented on #33
@shagunsodhani : Glad that the template for the issues is helping out a lot now - wayyy better to judge proposals. 😉

@mananpal1997 IMO explaining image operations will take some time, so maybe you can do all at once doing this as a 90 min talk with some break in between, or split this entire material in two halves and do one on April 23 and the other half in the next meetup :)
Share your thoughts

[2017-04-16 07:54] manojpandey commented on #21
Can it be done on the April 23 meetup ? @rishikksh20

An awesome resource you can use/share : http://www.labri.fr/perso/nrougier/from-python-to-numpy/

[2017-04-16 08:26] mananpal1997 commented on #33
@manojpandey yes, I agree it may actually take more time than I mentioned.
But taking in two meets would not be much better due to the long gap in between, because of my exams. Any idea?

[2017-04-16 08:27] manojpandey commented on #33
Do it in 90-100 min then ? 😸

[2017-04-16 15:03] rishikksh20 commented on #21
@manojpandey  sure. And also there is surprise for those who wants to contribute to scikit-learn. I have reverse bunch of easy to solve issues from scikit-learn for myself which I will share there . So it is a good opportunity for those who  interested to take those issues and start contribution to sklearn.

[2017-04-17 15:36] devenbhooshan commented on #24
works for me 👍
see you there.

[2017-04-17 19:57] ananyahjha93 commented on #32
I would like to give this tutorial/intro presentation.

[2017-04-18 03:14] manojpandey commented on #32
Cool @ananyahjha93 :)
Let us know when you're ready !

[2017-04-18 03:14] manojpandey commented on #24
Awesome ! :)

[2017-04-18 03:15] manojpandey commented on #21
Awesome :)

[2017-04-18 11:43] prabhant commented on #23
Shall I add the Next segment of news byte with meetup number eg meetup #6 or date eg 24/04/2017

[2017-04-18 15:50] shagunsodhani commented on #23
Add both :)

[2017-04-20 08:10] manojpandey commented on #14
I'll update and close this in an hour !

[2017-04-20 08:38] manojpandey commented on #23
@prabhant - maybe check them as well https://github.com/pydatadelhi/talks/issues/23#issuecomment-288430505

and I'll add this to the agena on meetup page as well - See you on Sunday ! :))

[2017-04-20 10:33] manojpandey commented on #13
@chandinijain How much time would be required for the same for Meetup#8 at UrbanClap this Sunday ?

[2017-04-22 16:13] MSanKeys963 commented on #32
This is pretty good. I think this is the hottest model in ML right now. ;)
A short Hands-On session will be nice. :)

[2017-04-23 07:32] satishkaa opened #35 "Building Customer Profile for ecommerce"
[building customer profile.pptx](https://github.com/pydatadelhi/talks/files/949519/building.customer.profile.pptx)
- eAbstract (2-3 lines)

- Brief Description and Contents to be covered

- Pre-requisites for the talk

- Time required for the talk

- Link to slides

- Will you be doing hands-on demo as well?

- Link to ipython notebook (if any)

- About yourself

- Are you comfortable if the talk

[2017-04-23 08:10] shagunsodhani commented on #35
@satishkaa Could you please add answers to the questions in the issue :)

[2017-04-24 20:33] anushthakalia opened #36 "[Request] Tutorial on time series analysis and forecasting"

[2017-04-26 16:30] prabhant commented on #23
New template for Newsbytes
### research
*  research articles

### Tools and Libraries released
* New releases in open source related to Data science

### Events
* some events & competitions

### News
* announcements by major companies and some news on indian ML scenario plus any other important news which is not covered in earlier sections.

[2017-04-26 16:43] manojpandey commented on #23
@prabhant Awesome - much better !
Send in a PR and self-merge 👍

[2017-05-01 19:20] manojpandey commented on #32
@ananyahjha93 Update this:

- Abstract (2-3 lines)

- Brief Description and Contents to be covered

- Pre-requisites for the talk

- Time required for the talk

- Link to slides

- Will you be doing hands-on demo as well?

- Link to ipython notebook (if any)

- About yourself

- Are you comfortable if the talk is recorded and uploaded to PyData Delhi's YouTube channel ?

- Any query ?

[2017-05-10 22:24] ananyahjha93 commented on #32
@manojpandey done

**Abstract**:

"Generative Adversarial Networks is the most interesting idea in the last ten years in machine learning." -- Yann LeCun (Director, Facebook AI)

Adversarial training performs really well in capturing a data distribution and generating samples from the captured distribution as compared to other generative models such as Restricted Boltzmann Machines and Autoencoder

[2017-05-11 15:04] mananpal1997 opened #39 "Basic Image Processing - Hands on Demo session 101"
- Abstract (2-3 lines)
Using concepts discussed in the past talk, and with a little detail on contours, I'll be showing a basic program to analyse a newspaper sudoku image, extract the grid, and solve it.
- Brief Description and Contents to be covered
Basic Image processing techniques (Thresh-holding, Contour Detection, Perspective transforms, Morphing). For classification of numbers from the grid

[2017-05-11 15:10] manojpandey commented on #39
For this Saturday? @mananpal1997

[2017-05-11 15:13] mananpal1997 commented on #39
@manojpandey Yes, but will people be coming? :stuck_out_tongue:
Majority have their exams.

[2017-05-11 15:14] manojpandey commented on #33
Thanks for the talk, @mananpal1997 🎉

[2017-05-11 15:14] #33 closed

[2017-05-11 15:15] manojpandey commented on #24
Thanks for the talk, @devenbhooshan 🎉

[2017-05-11 15:15] #24 closed

[2017-05-11 15:15] manojpandey commented on #23
Closing this, as this is being taken care of !

[2017-05-11 15:15] #23 closed

[2017-05-11 15:16] manojpandey commented on #35
@shagunsodhani This was actually a lightning talk, and went great !
Closing it now

[2017-05-11 15:16] #35 closed

[2017-05-11 15:17] manojpandey commented on #20
@mansigoel Ping please !

[2017-05-11 15:20] manojpandey commented on #36
@anushthakalia Do you want to take this up yourself ?

[2017-05-11 17:29] anushthakalia commented on #36
@manojpandey I am not well versed in time series, so I don't want to take this up.

[2017-05-19 05:49] MSanKeys963 commented on #39
@mananpal1997  What about presenting this on 28th May?

[2017-05-19 10:31] mananpal1997 commented on #39
@MSanKeys963 yeah, that would be great. I was actually working on one more thing. If its done soon, would update the proposal accordingly. :smile:

[2017-05-19 14:38] MSanKeys963 commented on #39
@mananpal1997  Perfect. Looks like you've got it all covered except the link for iPython Notebooks. Do update it when you're done and that project of yours. ;)

[2017-05-21 12:44] manojpandey opened #40 "[Proposal] Introduction to R programming"
Will update here in 1-2 days
----
- Abstract (2-3 lines)

- Brief Description and Contents to be covered

- Pre-requisites for the talk

- Time required for the talk

- Link to slides

- Will you be doing hands-on demo as well?

- Link to ipython notebook (if any)

- About yourself

- Are you comfortable if the talk is recorded and uploaded to PyData Delhi's YouTube channel ?

- Any query ?

[2017-05-21 12:44] MSanKeys963 commented on #25
@rishikksh20  Can you take this up for next Meetup?

[2017-05-21 14:32] mananpal1997 commented on #39
@MSanKeys963 I've updated the python notebook. It's completed. :smiley:

[2017-05-21 17:05] rishikksh20 commented on #25
Yeah why not !!!

[2017-05-21 18:37] MSanKeys963 commented on #25
@rishikksh20  Perfect.
Please update this ASAP.

- Abstract (2-3 lines)

- Brief Description and Contents to be covered

- Pre-requisites for the talk

- Time required for the talk

- Link to slides

- Will you be doing hands-on demo as well?

- Link to iPython notebook (if any)

- About yourself

- Are you comfortable if the talk is recorded and uploaded to PyData Delhi's YouTube channel ?

- Any

[2017-05-21 18:41] MSanKeys963 commented on #39
@mananpal1997 Awesome! :D
See you on 28th. ;)

[2017-05-21 21:21] rishikksh20 commented on #25
@MSanKeys963 Done !!!

[2017-05-22 11:08] MSanKeys963 commented on #25
@rishikksh20 Perfect. :D
See you on 28th. ;)

[2017-05-23 22:51] PantPallavi commented on #40
Really looking forward to this talk!

[2017-05-23 22:56] PantPallavi opened #41 "How can Py/ R be used for air pollution data analysis in India?"
I am an air quality researcher, and work on urban air pollution issues, especially in India. I learnt about this community from Sourabh and would love to collaborate on analysis of air pollution data. I would like to give a short (5-10 mins) talk on how this community can contribute to data analysis, and public engagement efforts.

P.S. - I am not a coder or programmer, but a beginner R learner.

[2017-05-24 06:42] rishikksh20 commented on #41
@manojpandey this can be included in lighting talk.

[2017-05-24 13:18] manojpandey commented on #41
Yes @rishikksh20 Sure.
Hey @PantPallavi : Can you do this for the upcoming meetup ? (Sunday, May 28th) ;)

[2017-05-24 14:51] PantPallavi commented on #41
I can only do it in June since I am not in India yet. I will be in Delhi in June. Any dates for the meet up then? Sorry.

[2017-05-24 15:52] manojpandey commented on #41
@PantPallavi : June 11 & June 25

[2017-05-24 22:53] PantPallavi commented on #41
I can do June 11 if that works. What time is the meet-up?

[2017-05-25 11:16] manojpandey commented on #41
12-5 PM

[2017-05-25 11:16] manojpandey commented on #41
Will update you for the meetup on 11th next week :)

[2017-05-25 12:23] PantPallavi commented on #41
Thank you. Look forward to hearing from you.

[2017-05-25 14:32] mananpal1997 commented on #39
@manojpandey you can add label "accepted" :stuck_out_tongue:

[2017-05-25 14:56] shagunsodhani commented on #40
Is this confirmed for the next meetup?

[2017-05-25 15:05] shagunsodhani commented on #21
Hey @rishikksh20. Are you planning on taking this up? If yes, please add some information :)

[2017-05-25 15:05] shagunsodhani commented on #20
@mansigoel are you still planning to take it up?

[2017-05-25 15:06] shagunsodhani commented on #18
@manojpandey @kajal-puri Did this talk happen already?

[2017-05-25 15:07] manojpandey commented on #18
Nope - that's why on hold :(

[2017-05-25 18:20] rishikksh20 commented on #21
@shagunsodhani hopefully in some meetup in June because I already booked for talk in next meetup. I will update info in some time next week.

[2017-05-26 17:06] manojpandey commented on #40
I'm still thinking - we already have enough talks for the next meetup.
Maybe I can do this on June 11. At the end of every meetup, we're having a volunteer meet as well, so can accommodate only 2 talks + 1 workshop ATM ! 😄

[2017-05-26 17:11] manojpandey commented on #20
@shagunsodhani This was delivered, she just needs to upload the slides and the notebook (pending)

[2017-05-27 03:35] euler16 opened #42 "[Proposal] Language Modelling"
- Discussion on the mathematical formulation of language understanding and its various aspects.

- The talk will comprise of the underlying mathematics in Deep Learning for NLP (math will be the prime focus). I will briefly discuss distributed representation of words, sequential architectures. I will take up one problem from NLP and discuss it at length (will inform u later about the problem).

-

[2017-05-27 08:23] shagunsodhani commented on #40
@manojpandey yeah makes more sense.

[2017-05-27 08:50] manojpandey commented on #42
Hi @euler16 Thanks for the proposal. Can you update with the slides / notebook in a couple of days/weeks. We'll try to have it on 25th June (Sunday), if things go well !

[2017-05-27 09:59] euler16 commented on #42
I will do it

[2017-05-27 14:12] PantPallavi commented on #40
If you do it on 11th, I can attend it too!

[2017-05-27 19:26] rishikksh20 commented on #25
Slides: https://docs.google.com/presentation/d/1KfMqeiaol3B7HPVy4srpQy0Y5pgrfTgmLCM10hVvblg/edit?usp=sharing

[2017-05-27 19:44] manojpandey commented on #25
Updated a bit of the slides ;) Looks decent now

[2017-05-28 15:04] #25 closed

[2017-05-29 15:42] euler16 opened #43 "[Proposal] Convolutional Neural Networks"
- Abstract (2-3 lines)
ConvNets are the default models for Computer Vision tasks relying on a simple linear operation.

- Brief Description and Contents to be covered
Typical ConvNet architecture, what is convolution, math and intuition behind convolution, concept of padding , strides, Deconvolution.

- Pre-requisites for the talk
Understanding about simple MLPs

- Time required for the talk
45min

[2017-05-30 08:41] rishikksh20 commented on #43
@euler16  Actually the thing is most of the people who attend meetups are totally Noob in subject of neural network. So it's better you start with ```Basic Learning representation with Neural network``` then go for CNN or RNN or anything else.  @manojpandey it is very necessary for us to organiser each talk in proper manner and sequence.
So the proper sequence for this series which I supposed woul

[2017-05-30 13:13] euler16 commented on #43
I agree thats why I referenced @manojpandey  's suggestion of series. I want to do this after we have had the basics covered.

[2017-05-30 13:19] rishikksh20 commented on #43
Ok I am creating new issue

[2017-05-30 13:20] rishikksh20 opened #44 "Series for machine learning Noob to Pro"
It's always  good to start from Scratch as discuss here https://github.com/pydatadelhi/talks/issues/43 :
1. **```Basic intuition behind machine learning.```** (Why it is necessary and basic algos and basic data pre-processing and analysis) ```I think this thing topic already cover but if necessary do it again```.
2. **```Optimizing machine learning algos, Boosting, Bagging and Stacking ensemble le

[2017-05-30 18:26] manojpandey commented on #43
@shagunsodhani - Please have a look ^
Update: (maybe at the new issue then)

[2017-05-30 18:27] manojpandey commented on #42
@euler16 How's it going so far ?

[2017-05-30 18:27] manojpandey commented on #44
cc: @shagunsodhani @Dawny33

[2017-05-30 18:30] manojpandey commented on #32
Thanks @ananyahjha93 👍
Closing this !

[2017-05-30 18:30] manojpandey commented on #18
@kajal-puri Open this issue again in the future, if you'll be able to do this.
Closing for now :)

[2017-05-30 18:30] #18 closed

[2017-05-30 18:31] manojpandey commented on #7
@greatdevaks Open this issue in the future, if you'll be able to deliver it. Closing it for now :)

[2017-05-30 18:31] #7 closed

[2017-05-30 18:31] manojpandey commented on #13
This was delivered at Urbanclap on meetup no. 8

[2017-05-30 18:32] #13 closed

[2017-05-30 18:33] manojpandey commented on #20
@mansigoel Closing this, as this is just creating a backlog. Please re-open, update and close it later :)

[2017-05-30 18:33] #20 closed

[2017-05-30 18:33] #32 closed

[2017-05-30 18:35] manojpandey commented on #11
@Arsh23 Please re-open this again, when you think you can do this :)
Closing this for now !

[2017-05-30 18:35] #11 closed

[2017-05-30 18:36] manojpandey commented on #39
Thanks @mananpal1997 - Closing this now :)

[2017-05-30 18:36] #39 closed

[2017-05-30 19:26] euler16 commented on #42
Working on it

[2017-06-03 09:44] techedlaksh opened #45 "Intro to Computer Vision using Keras with GTRSB dataset"
- Abstract (2-3 lines)
  - An introduction to computer vision and object recognition in still images using Convolutional Neural Network.

- Brief Description and Contents to be covered
  - What is Computer Vision and it's applications?
  - Challenges in Computer Vision.
  - Overview of Traditional Approaches.
  - Keras Introduction.
  - Intro to Convolutional Neural Network:
    - Kernels, Filters

[2017-06-03 13:26] manojpandey commented on #45
@techedlaksh : Used this: https://chsasank.github.io/keras-tutorial.html ?

Also, better to do Intro to keras before this, because no one who comes to attends the meetup know keras/theano/tf/pytorch yet 😞
cc: @shagunsodhani @rishikksh20

[2017-06-03 13:46] euler16 commented on #45
can we keep #43  and #45 on the same day?

[2017-06-03 13:50] manojpandey commented on #43
Hey @euler16
Can you check #26 and see what different would you be talking about ? :))

cc: @ananyahjha93

[2017-06-03 13:50] techedlaksh commented on #45
@manojpandey I will give introduction to keras for about 15-20 minutes as mentioned and never seen that github xD. Though most of the times these are the settings that is being used.

[2017-06-03 14:03] euler16 commented on #43
@manojpandey I will be focussing in depth on convolution operation, how backpropagation is actually done through conv layer....different cases of strides and paddings. I will use PyTorch

[2017-06-03 15:56] shagunsodhani commented on #43
@manojpandey @euler16 It seems this talk is more about conv and its theory while #45 is more about application of convs for a specific use case. Going by this logic, #43 should be done first and then #45. It would be ideal if both @euler16 and @techedlaksh use the same framework but even then it should be fine.

[2017-06-03 16:08] rishikksh20 commented on #45
@manojpandey @techedlaksh We need to fit this into my proposed sequence #44 if possible. First we should need to cover neural network precisely for take out 100% from this course. Otherwise content looks good 👍

[2017-06-14 14:00] vasu-dev opened #46 "Highway Networks and ResNet : A deeper approach towards Deep Learning ."
- Abstract (2-3 lines)
`Residual learning framework(ResNet and Highway Networks) is an Newer kind of architecture which ease the training of networks that are substantially deeper than those used previously and give  significant boost to the performance of task in hand. The layers are reformulated as learning residual functions with reference to the layer inputs, instead of learning unreferenced f

[2017-06-14 14:16] manojpandey commented on #46
Please review - @Dawny33 @shagunsodhani @rishikksh20
Also proposed for [`Anthill 2017`](https://anthillinside.talkfunnel.com/2017/30-highway-networks-and-resnet-a-deeper-approach-towa)

[2017-06-14 16:24] Dawny33 commented on #46
@manojpandey @vasu-dev Awesome topic.  But, how much time would you take for the talk?
Not sure whether this talk can be completed within a 20-30min slot?

Possible to break this into 2 talks - One for Highway nets and one for ResNets?

[2017-06-14 16:53] rishikksh20 commented on #46
Nice one but please make your slides much more informative.

[2017-06-14 17:12] vasu-dev commented on #46
@Dawny33  resnets are an improvement over highway networks so I don't thing there is any point in breaking it into two talks.

@rishikksh20  , the slides were a just a basic overview for the anthill proposal and will update them.

[2017-06-14 17:40] manasRK commented on #44
Why forget the maths? I feel that basis Linear Algebra and Matrix Ops with Numpy/TF/PyTorch session would be useful as well. Would recommend first 5 chapters of Ian Goodfellow's book on DL.

Also, a session similar to @iamtrask's blog to deploy NNs from scratch is good as well. Plus some linguistics if you plan on doing NLP - would be a disservice otherwise. :)

[2017-06-22 19:57] manojpandey commented on #46
@vasu-dev : Are the slides ready ?
Do you also have a jupyter notebook ?

[2017-06-22 19:58] manojpandey commented on #45
@techedlaksh : This talk is finalized for the next meetup :)

[2017-06-22 19:58] manojpandey commented on #42
@euler16 Any updates ? :))

[2017-06-22 19:59] manojpandey commented on #41
@PantPallavi Whenever you feel like delivering this, please re-open this issue :)
Closing for now !

[2017-06-22 19:59] #41 closed

[2017-06-22 20:02] manojpandey commented on #43
Alright ! Thanks @shagunsodhani for the feedback :)

[2017-06-23 14:58] euler16 commented on #42
@manojpandey  I am not in Delhi, please shift this to the next meetup. I will upload the Jupyter Notebook once I return. The demo is ready. I will be doing char-rnn(as demo). I have prepared 2 implementations a simple one:- using readable PyTorch syntax (similar to Karpathy's Char-RNN) and an efficient one (doesn't uses one-hot encodings, instead learns vector represention of characters themselves

[2017-06-24 04:02] manojpandey commented on #42
Sure - thanks for updating :)

[2017-06-28 11:52] prabhant commented on #44
Hey
Let's use this idea for giving PydataExpress tutorials in colleges(just like python express) to promote the upcoming Pydata Conference.
So we can do few things
Classify workshops in 3 categories: Beginner, Intermediate and Advanced. So that we can deliver the workshops according to the crowd.
Though i agree that Maths is an important part of ML but I think we should stick to programming tutori

[2017-07-04 08:30] sachin-kmr opened #48 "Intro to Transfer Learning using Keras"
- Abstract (2-3 lines)
In machine learning, learning a task is expensive (many training samples are needed) and it is therefore of general interest to be able to reuse knowledge across tasks. Transfer learning is the improvement of learning in a new task through the transfer of knowledge from a related task that has already been learned.

- Brief Description and Contents to be covered
   * Recap :

[2017-07-04 09:49] manojpandey commented on #44
This has a lot of good stuff
https://github.com/hangtwenty/dive-into-machine-learning

[2017-07-05 21:59] euler16 commented on #42
@manojpandey I will divide the presentation into two parts :- Classical approach (N-Gram model) and Deep Learning approach (RNNs).
For the deep learning part the code is [here](https://github.com/euler16/CharRNN).
The content will be from my [blog post](https://euler16.github.io/cs/2017/07/01/playing-with-rnn.html)

I will update the content for classical part soon

[2017-07-06 20:36] DakshMiglani opened #49 "Artificial Neural Networks - The Complete Noob Guide."
- Abstract (2-3 lines)
A Complete guide for the absolute beginner or Noob for teaching them the fundamentals of Artificial Neural Networks and the Process of How the Function In General.

- Brief Description and Contents to be covered
Will be covering the basics of artificial neural networks such as weights, biases, inputs, labels, features, activation function, loss function.

- Pre-requisites fo

[2017-07-22 03:12] ishaan007 opened #51 "Proposal : Into to text classification and NLP"
Every text classification problem in NLP is broadly categorized as a document or a token level classification .This talk will be devoted to document classification

I will walk through a classification experiment I coded and will talk about the process and ins and outs of it.

Slides for the talk : http://bit.ly/2vQC1sc
This is a blog I wrote on all this
https://medium.com/towards-data-science/doc

[2017-07-22 06:54] ronitkishore opened #52 "[Proposal] Introduction to NLP using NLTK."
- Abstract (2-3 lines)
This talk will be an introduction to NLP using Python. I will cover the basics of NLP, along with building some basic applications of NLP in Python.

- Brief Description and Contents to be covered
Basics of NLP and building a sentiment analyzer.

- Pre-requisites for the talk
Workable knowledge of Python and its syntax.

- Time required for the talk
40-45 mins.

- Link to sl

[2017-07-26 16:12] MSanKeys963 commented on #42
@euler16 Can you present this on next Meetup?
Probably first week of August. ;)

[2017-07-26 16:13] MSanKeys963 commented on #49
Cc : @manojpandey

[2017-07-26 16:29] euler16 commented on #42
Sure... Meetup will be on Sunday right?

[2017-07-27 09:47] MSanKeys963 commented on #42
Yeah. Most probably 6th, August.

[2017-07-28 06:00] manojpandey commented on #52
A similar talk has been done previously :(
Can you suggest something like "Intro to NLP using spacy" ?

[2017-07-28 06:01] manojpandey commented on #52
cc @Dawny33 @shagunsodhani

[2017-07-28 06:01] manojpandey commented on #51
Is this the one you did at CIC ?

[2017-07-28 06:12] ishaan007 commented on #51
Yes.

[2017-07-28 06:58] anushthakalia commented on #52
@manojpandey this talk was delivered in the last meetup at CIC by @ronitkishore

[2017-07-28 07:12] Dawny33 commented on #52
@manojpandey [Completely a personal opinion]

Basic nltk tuts are all over the web. So, a separate talk wouldn't add a lot of value :/ . In fact, the nltk official docs would do a better job any day.

So, concentrate on a bit more advanced topics with nltk [or] NLP intros. with state-of-the-art tools like spacy, algos like Word2vec, etc

[2017-07-28 15:04] manojpandey commented on #52
Yeah, spacy, word2vec and other algorithms can be discussed. Perhaps, I'll take this up - or will find someone around.

@ronitkishore - ^ Is this something you can take up ?

[2017-07-28 15:04] manojpandey commented on #51
link to slides ? (:

[2017-07-28 17:05] ishaan007 commented on #51
Comment updated with the link to the slides.

[2017-07-31 16:58] manasRK commented on #52
NLTK, SPacy, N2vecs are already very well exploited (abused maybe even). Would recommend a comparison of algorithms with actual outcomes , say fast2text vs GloVe vs word2vec - where to use and not where to use. It's always fun in a conference/meetup when someone showcases a talk with the theme "I did this and it worked/didn't work because of X/Y/Z"

[2017-07-31 17:02] manasRK commented on #51
Could you expand more on what features you used or feature engineering architecture you are proposing? ALso, the talk proposal seems a bit similar to Bag of Words meets Bag of Popcorn on Kaggle. Anything specific on interesting features/architectures would be nice.

Interestingly, your TFIDF has way lower accuracy than embeddings, would be eager to hear why it may have happened.

[2017-07-31 19:47] ishaan007 commented on #51
@manasRK

1. TF-IDF has a higher accuracy than embeddings because :
The amount of training data used to train the doc2vec model is way too less for the neural net to learn sensible embeddings. So TF-IDF outperformed it.
2. I will try to explain the custom feature engineering architecture I mentioned in the slides with the below python stub
Say you have to classify tokens in an article(maybe POS ta

[2017-07-31 19:53] ishaan007 commented on #51
Also as far as kaggle blog is concerned,some part of the talk dealt with bag of words(and other basic vsm techniques) ,embeddings were also introduced as an alternative but the overall aim was to focus on the entire process of starting with raw text and apply ml models to it

[2017-08-01 11:57] manasRK commented on #51
You could try using LIME/ELI5 or RF feature importance to showcase cool visuals on how features are interacting and how it helps explain the model.

[2017-08-02 10:25] MSanKeys963 commented on #49
@DakshMiglani Can you present this on next Meetup?

[2017-08-02 10:44] DakshMiglani commented on #49
@MSanKeys963 On The Upcoming Sunday right? (6th of August)

[2017-08-02 10:45] MSanKeys963 commented on #49
Yeah.

[2017-08-02 10:46] DakshMiglani commented on #49
@MSanKeys963 Would love to but just have to setup some alarms to wake me up that early, Don't worry I'll be there 👍

[2017-08-02 10:48] DakshMiglani commented on #49
@MSanKeys963 Let me know the schedule.

[2017-08-02 13:11] prabhant opened #54 "[Proposal] Introduction to Adversarial Machine learning"
- Abstract (2-3 lines)
Adversarial learning is a novel research field that lies at the intersection of machine learning and computer security. It aims at enabling the safe adoption of machine learning techniques in adversarial settings

- Brief Description and Contents to be covered
What is adversarial machine learning? Why is it important? Attacks on CNNs with adversarial examples, Crafting adver

[2017-08-02 14:08] ishaan007 commented on #51
Sure, generating a comparative LIME graph for certain predictions by naive bayes and logistic regression( used in the talk) seems a doable thing.Little bit out of bandwidth currently,but will update the slides with it.Thanks for the suggestion,I have proposed an enhanced better version of this for PyData delhi' 17.

[2017-08-03 22:33] manojpandey commented on #49
Hi @DakshMiglani - the slides are too much filled with text. I'll suggest you to keep the minimum possible, and remove everything to your speaker notes. Please update the slides ASAP, if possible:)

Otherwise we can take this up as a lightning talk )

[2017-08-04 01:50] DakshMiglani commented on #49
@manojpandey Yea, I'll do that and update you by 6pm IST with slides.

[2017-08-04 14:44] DakshMiglani commented on #49
Here is the file, I'll be writing the speaker notes tommorow and they would arrive around this time:
https://docs.google.com/presentation/d/1nmhzEMbzhl3IzOHQ4ukqQjYiYCF_oideFo2jkxwPDhI/edit?usp=sharing

[2017-08-04 16:28] MSanKeys963 commented on #54
Talk accepted for upcoming meetup on August, 6th. ;)
Best of Luck. :)

[2017-08-09 06:23] #54 closed

[2017-08-09 16:29] adityas1998 commented on #52
@ronitkishore It'll be a great help if you could send the link to the code with the web scraper and the implementation of NLP using NLTK. Thanks!

[2017-08-13 18:42] #49 closed

[2017-09-07 16:06] sauravkaushik8 opened #56 "[Proposal] ML/AI and Automation: Where are we heading?"
- Abstract (2-3 lines)

This is going to be a non-technical talk, heavily focussed on the Good, bad and ugly practical implementatons of ML and AI in the industry.

- Brief Description and Contents to be covered

This talk will mainly cover the following topics:
1. The ugly truth of Industry.
2. What does the future looks like?
3. What can you do to make the future better?

- Pre-requisites for th

[2017-09-08 07:17] manojpandey commented on #56
Thanks for the proposal @sauravkaushik8 - waiting for the slides :)

[2017-09-09 02:48] prakharcode opened #57 "[Proposal]: Backprop from scratch"
- Abstract (2-3 lines)
This talk will cover the necessary mathematics and coding to implement backprop from scratch
- Brief Description and Contents to be covered
Backpropagation is the most beautiful work of derivatives and mathematics this talk aims to cover up backprop from ground up
- Pre-requisites for the talk
Basic mathematics and coding
- Time required for the talk
25-30mins
- Link to slid

[2017-09-17 12:42] manojpandey commented on #57
Adding people to review here: @shagunsodhani @Dawny33 @rishikksh20

[2017-09-17 12:44] #52 closed

[2017-09-17 15:42] Ridhwanluthra opened #58 "[Proposal]: Exploring the mindset of Python and Julia"
- Abstract (2-3 lines)
Every programming language has its own mindset that a seasoned programmer develops after continuous development in the language.
Understanding the mindset of a language and comparing it to our preferred language can make switching between them a very easy task!
- Brief Description and Contents to be covered
    * Mindset of Python
    * Mindset of Julia
    * Switching reall

[2017-09-17 15:54] Ridhwanluthra opened #59 "[Proposal]: Getting started with robotics using ROS(Robot Operating System) and python"
- Abstract (2-3 lines)
ROS is an amazing framework that allows you to build really huge projects with minimal headache but ROS can be a bit daunting at the start. The idea here is to be able to start development on ROS right after the tutorial.
- Brief Description and Contents to be covered
    * Understanding what is ROS and why should we use it?
This section includes the basic principles of ROS,

[2017-09-17 15:59] Ridhwanluthra opened #60 "[Proposal]: Computer Vision in Self-Driving Cars"
- Abstract (2-3 lines)
Self driving cars are an exciting area of research for all data enthusiasts at this time. Getting a machine to process the richness of the real world and make ethical decisions. A major part of this is using camera images to extract information from the world. This talk is focused on allowing cars to perceive the world the way humans would. The aim here is to discuss the sta

[2017-09-17 16:08] shagunsodhani commented on #58
Hey @Ridhwanluthra The proposal looks very interesting. I am looking forward to the content.

[2017-09-17 16:09] shagunsodhani commented on #57
Waiting for the slides.

[2017-09-17 16:12] shagunsodhani commented on #59
I havent worked in robotics so will wait for the slides.

[2017-09-17 16:16] shagunsodhani commented on #60
May be consider doing the talk in 2 parts: Conv and then behavior cloning. The slides for cloning part are sparse - I assume that is because this is a WIP.

[2017-09-17 17:50] Dawny33 commented on #57
Hi. Thanks for proposing.  Instead of simply helping people code up backprop, how about explaining backprop in general?  [Just an opinion though]

Most people I know tend to not know how backprop works, thanks to the ready-made api's of the ML libs.

[2017-09-17 17:54] prakharcode commented on #57
Acknowledged. I may not be clear enough but I'll explain the math behind it and then, will show the code and how maths works in sync with code. Ill

[2017-09-17 17:55] prakharcode commented on #57
I'll submit the slides in a couple of days!

[2017-09-18 02:29] Ridhwanluthra commented on #60
no that's because that part mainly is hands-on and relies on a jupyter notebook, no slides.
so if it's a talk behaviour cloning will be covered in brief (basically a demo).
if hands-on then will do in depth.

[2017-09-18 11:34] shagunsodhani commented on #60
Then lets wait for the notebook :)

[2017-09-20 18:04] manojpandey commented on #58
@Ridhwanluthra - updates on slides ?

[2017-09-20 18:59] sanketverma1704 commented on #59
@Ridhwanluthra Update on slides?

[2017-10-04 07:05] sanketverma1704 commented on #58
Talk delivered. Close the issue.

[2017-10-04 13:43] #58 closed, assigned to nobody

[2017-10-09 02:15] prabhant commented on #57
Suggestions: Try to make it a general talk(not a theory lecture with some code) covering back prop as well as variations and advances in backprop in recent year, so that it won't be just another talk on backprop and CNN (which is easily available online)

[2017-10-09 17:40] piyush2896 opened #61 "[Proposal]: Encrypted Deep Learning"
- Abstract
Building encrypted neural network using *homomorphic* encryption techniques so as to get NNs with two major properties.
1.  NN's intelligence is protected
2. NN will make encrypted prediction

- Description
The encryption of NN learning and prediction process can bring about significant changes.
1. The neural network's intelligence is protected from those who might want to steal it, all

[2017-10-10 17:53] shagunsodhani commented on #61
Hey @piyush2896 Thanks for the interesting proposal.

I have one question - My understanding is that homomorphic encryption works well when you have simple operations but with even slightly complicated things, say an addition followed by multiplication followed by addition, the dimensionality of the encrypted data gets very large (please correct me if I got this part wrong - my knowledge on the to

[2017-10-11 05:52] piyush2896 commented on #61
Hey @shagunsodhani
 Homormorphic encryption is a slow technique - **agreed**. But many advances show that it can be used to achieve high performance. For example have a look at following [paper](https://pdfs.semanticscholar.org/73f0/aa4e1b47b55f0f3d8464f61750e559067c56.pdf). Yeah I'll be adding about it in the slides for sure till the end of the day.

For some awesome uses of homomorphic encryptio

[2017-10-11 11:13] shagunsodhani commented on #61
Hey @piyush2896 I made a cursory read of the paper and did not find time complexity comparison with "non encrypted" algorithms. I think as long as you talk about this aspect, it is good 😄

Could you please point me to the work that you would like me to take a look at in the OpenMinded org?

[2017-10-11 18:45] piyush2896 commented on #61
Hey @shagunsodhani So I went again in the topic discussed it with a mate and got to a point where I got new insights in advances made by Homomorphic Encryption. So as we know Homomorphic Encryption is about 2 keys one for encryption and one for decryption. Then there comes a step bootstrapping. Or we can say key rotation where you can have a long series of keys.. and each time you rotate to a new

[2017-10-12 10:09] piyush2896 commented on #61
Slides added. Notebook will be added by midnight today

[2017-10-12 12:50] shagunsodhani commented on #61
@piyush2896 The slides are a bit involved. Esp the part about "what is HE" and "Taylor". Adding a few more slides about them would help. Best of luck.

[2017-10-12 12:56] piyush2896 commented on #61
@shagunsodhani would it be fine if I'll add notes along side the ppt and explain them during the presentation as I think ppt should be minimal so that we can skip to code asap?
Else if you want the amendments can be made?
Of course notes will be available within the code repository in either pdf or in html page (github pages) format

[2017-11-03 13:40] sanketverma1704 commented on #61
@piyush2896 Can you deliver this on upcoming meetup i.e. 12th Nov?

[2017-11-08 14:02] priyanshu2411 opened #62 "Workshop on orange on data modeli"
- Abstract (2-3 lines)

- Brief Description and Contents to be covered

- Pre-requisites for the talk

- Time required for the talk

- Link to slides

- Will you be doing hands-on demo as well?

- Link to ipython notebook (if any)

- About yourself

- Are you comfortable if the talk is recorded and uploaded to PyData Delhi's YouTube channel ?

- Any query ?

[2017-11-08 14:03] #62 closed, assigned to nobody

[2017-11-11 06:20] #6 closed

[2017-11-11 06:27] #40 closed

[2017-11-11 06:45] manojpandey commented on #17
@tushar0225 - let us know if you'll be able to do it in the following months :)

[2017-11-11 06:46] #51 closed

[2017-11-11 06:46] #48 closed

[2017-11-11 06:46] #46 closed

[2017-11-11 06:47] #45 closed

[2017-11-11 06:47] manojpandey commented on #42
Was this delivered? @MSanKeys963 @euler16

[2017-11-11 06:48] #43 closed

[2017-11-11 06:48] manojpandey commented on #60
@Ridhwanluthra ping - do you plan to give this talk ?

[2017-11-11 06:48] manojpandey commented on #59
@Ridhwanluthra ping !

[2017-11-11 06:49] manojpandey commented on #56
@sauravkaushik8 - were there any slides involved ?

[2017-11-11 06:50] manojpandey commented on #61
@piyush2896 ping with the notebook ?

[2017-11-11 06:50] manojpandey commented on #57
@prakharcode ping with slides ? :)

[2017-11-11 08:50] piyush2896 commented on #61
@manojpandey @MSanKeys963 added Notebook in the main comment.

[2017-11-11 16:13] sanketverma1704 commented on #42
Nope. You can close this issue as discussed by Nilay and me.

[2017-11-12 15:56] #42 closed

[2017-11-12 15:57] manojpandey commented on #61
Thanks @piyush2896

[2017-11-12 15:57] #61 closed, assigned to shagunsodhani, Dawny33, rishikksh20

[2017-11-13 10:00] tushar0225 commented on #17
Hi Manoj,

I will be in India in April and happy to share the latest updates and
excitement generated by our AI tool. Let us know if you plan to have a
pydata talk.

Best,
Tushar

On Sat, Nov 11, 2017 at 6:45 AM, Manoj Pandey <notifications@github.com>
wrote:

[2017-11-16 10:37] manojpandey commented on #17
Sure - thanks. Will ping you then !

[2017-12-15 23:57] parulsethi opened #63 "[Proposal]: Next Generation of Word Embeddings in Gensim"
- Abstract (2-3 lines)

Python has many Natural language processing tools. In particular if someone wants to implement a recommender or a document classifier they face a problem choosing from many open source word embeddings available. I will highlight the differences between them by going through some evaluations, primarily on the three word embeddings Word2Vec, FastText and WordRank, which are a

[2017-12-20 15:03] Ridhwanluthra opened #64 "[Proposal]: Touch based piano using arduino and python"
- Abstract (2-3 lines)
Building a touch sensor from scratch and interfacing it with arduino. Which talks to a python script to play tunes corresponding to the sensor.

- Brief Description and Contents to be covered
1. hands on activity.
2. Useful and powerful technique related to arduino.
3. Discussion on some cool projects and
4. Discussing implementation and scope of ideas proposed by the audien

[2018-01-04 10:24] anushthakalia opened #65 "[Proposal]: Supervised Learning using Scikit Learn"
* Abstract (2-3 lines)
Scikit learn is a very popular open source tool in the machine learning community. We'll be covering how the Scikit learn package can be used to perform classification, regression, model selection (hyperparameter tuning) and preprocessing via a hands on session.

* Brief Description and Contents to be covered
1. What is Scikit-learn?
2. Overview of model development in Sckit

[2018-02-09 06:02] prabhant opened #66 "Security of machine learning: An overview"
- Abstract (2-3 lines)
It's a small talk comprising various security implications of using machine learning applications in various domains.

- Brief Description and Contents to be covered
Adversarial examples, differential privacy and model stealing

- Pre-requisites for the talk
Must be aware about the basic concepts of machine learning.

- Time required for the talk
20 minutes

- Link to slides

[2018-03-26 21:11] yindia opened #67 "[Proposal]: Recommendation Engine using Tensorflow"
- Abstract (2-3 lines)
This talk will cover the necessary mathematics and coding to implement recommendation engine from scratch. All Question related to Tensorflow what? why? and  How?

- Brief Description and Contents to be covered
         - The talk will cover content-based recommendations and Collaborative Recommendations using tensor flow
          - What is Tensorflow?
          - Why Tenso

[2018-03-27 06:41] manojpandey commented on #67
@Dawny33 @shagunsodhani - please review! :)

[2018-03-27 07:07] Dawny33 commented on #67
The contents make it sound more like a talk about tf rather than on recommender systems.

Possible to skip the why, what, and how's of tensrflow and start with the theory and implementation of recsys from start?

+ what data would you be using for the implementation?

[2018-03-27 07:34] yindia commented on #67
I am using movie lense and IMDb dataset. Talk will cover how to build recsys system for real time training and prediction using tensorflow and why tensorflow provide out of the box feature for scaling. Yeah talk is more about what ? Why? And how ? Tensorflow solve our scaling and serving problem

[2018-03-27 09:42] Dawny33 commented on #67
Okay. So, this is an Intro to tf talk, with an example of a recsys.

Guess we had enough lib intro. talks. @manojpandey ?

[2018-03-27 09:48] pranavsuri opened #68 "[Proposal]: Exploratory Data Analysis"
- **Abstract:** This talk will serve as an A-Z guideline for Exploratory Data Analysis (EDA) along with an overview of ggplot2 & matplotlib basics with multiple examples.

- **Brief Description and Contents to be Covered:**
    - Introduction to Exploratory Data Analysis (EDA)
    - Why data visualization? – Anscombe's Quartet
    - Overview of ggplot2 and matplotlib
    - Removing outliers using

[2018-03-27 10:34] yindia commented on #67
Yeah some sort of but I will cover data engineering (scaling and serving) stuff not the data Science(Models)

[2018-03-27 13:58] shagunsodhani commented on #67
Hey, @evalsocket Thanks for the proposal. Could you please give some examples of things that you plan to cover under the `data engineering (scaling and serving)` part. For instance, you mentioned that you would cover aspects of `real time training and prediction using tensorflow` and how Tensorflow supports scaling out of the box.

@Dawny33 I agree with your point that we already have had enough i

[2018-03-27 14:13] shagunsodhani commented on #68
Hey, @pranavsuri Thanks for the proposal. What data sets do you plan on using for the talk? From the current proposal, the talk seems to be more about `ggplot` and less about EDA (which is fine imo, we would just have to reword it a bit). Maybe you could add a short section on how `ggplot` compares with alternatives.

I haven't used `ggplot` much but I think it is closely tied to `pandas` so it mi

[2018-03-27 15:39] pranavsuri commented on #68
Hi, @shagunsodhani! I plan to use two popular datasets – [Wine Quality Dataset](https://archive.ics.uci.edu/ml/datasets/wine+quality) & the Enron Email Dataset (a curated version of the original dataset). The former would be used for most of the talk while the latter would be used to show 'outlier removal.'

You might be right about the rewording. I plan to talk more on EDA & less about the tool o

[2018-03-27 15:48] shagunsodhani commented on #68
Ahh my apologies, I thought you planned on using `ggplot`(the python wrapper) and not `ggplot2`(the R library). I am not sure how many people would know of `R` syntax so even with minimal syntax, it might be very new for people. I will let @manojpandey pitch more on this so that you can tweak your slides/content accordingly.

[2018-03-27 17:31] yindia commented on #67
Talk will cover data engineering ( First we build AI then understand How to deploy AI and scale for real-time data training ). Overview of deploying AI distributed and deployment of tensorflow in production.

[2018-03-28 10:33] yugrocks opened #69 "Deep Learning (overview) and its applications in modern Natural Language Processing"
- **Abstract (2-3 lines):** In this talk, I will present an overview of Deep Learning, and then present in detail what are the advancements being made in Natural Language Processing, using deep learning.

- **Brief Description and Contents to be covered:**
    - Deep Learning overview : Types of Neural Networks and how to train them.
    - Introduction to Natural language processing:
          - F

[2018-03-28 10:56] Dawny33 commented on #68
Nice. We always need an EDA talk. :D

It would be great if you can use language (`R` in your case) just as a medium for explaining concepts, instead of making the talk totally language/framework - dependent.

[2018-03-28 11:11] yugrocks opened #70 "Object recognition, detection and localization 101"
- **Abstract (2-3 lines):**
   This talk will cover the state of the art techniques in object detection and localization, face recognition and some applications of deep learning in computer vision. This will be more of a case study based approach.

- **Brief Description and Contents to be covered:**
   - What is object detection, localization, recognition.
   - The state of the art techniques:

[2018-03-28 11:59] pranavsuri commented on #68
Hi @Dawny33! That's how I've planned the whole talk. 😀

@everyone: I'd start making the slides on Google Slides and share the link here. I think, then the discussions and feedback could proceed better. While I prepare PPT, feel free to continue the existing conversation.

[2018-03-28 12:00] pranavsuri commented on #68
Hi @Dawny33! That's how I've planned the whole talk. 😀

I'd start making the slides on Google Slides and share the link here. I think, then the discussions and feedback could proceed better. While I prepare PPT, we all can continue the existing conversation.

[2018-03-28 16:35] shagunsodhani commented on #70
Hey, @yugrocks Thanks for the proposal. I think it would be interesting to see how `HOG` features perform against vanilla CNNs. You might want to consider splitting the talk into two sessions. The second session could be:

 * Improved Deep Learning techniques namely Mask R-CNN, Fast-RCNN, Faster-RCNN, YOLO
 * The YOLO (You Only Look Once) algorithm for object localization and recognition in detail

[2018-03-28 16:40] shagunsodhani commented on #69
Hey @yugrocks Thanks for another proposal! I have a couple of points:

- `Deep Learning overview` - Would this be focused on just Language Modelling tools?
- `From basic concepts (tagging, parsing, information extraction) to applications like
conversational interfaces, question answering systems, text summarization, word embeddings, document classification etc.` - Just to make sure there is no con

[2018-03-28 20:05] KritiKathuria opened #71 "Evolutionary approach to building financial models"
- Abstract (2-3 lines)
As with many fields, applications of machine learning and computational methods are expanding to the financial world too. Modelling financial markets is a challenging area despite the availability of data. This is because of the myriad factors influencing every movement of the stocks and unavailability of a "test" dataset on which we can test and tune models. Natural Computi

[2018-03-28 20:16] shagunsodhani commented on #71
Hey @KritiKathuria Thank you for the proposal! Could you please add more details about the motivation of applying evolutionary methods. For example, is there a reason for `unavailability of data`? Why would standard data splitting strategies work? Also, some more details on the evolutionary model would be useful for the audience.

Looking forward to your talk.

[2018-03-28 20:28] yugrocks commented on #69
Hi @shagunsodhani . Let me answer these one by one:

- The section about Deep Learning will just be an overview of what is deep learning and how neural networks work. The next section is dedicated to NLP, in which I'm planning to cover language modeling using Deep Learning and otherwise; and all other stuff mentioned in the second point above.

- Yes, definitely. I am going to show a comparison of

[2018-03-28 20:38] yugrocks commented on #70
Hi @shagunsodhani . Thanks for the suggestion! However, I am a little confused about what you mean by`splitting the talk into two sessions`. Will you please explain?  :)

[2018-03-29 07:16] Dawny33 commented on #70
@yugrocks He meant, 2 half-an-hour sessions. Half of the topics in one and other half in the other.

It doesn't have to be exactly half-and-half, just that the topics need to be coherent in both the sessions.

[2018-03-29 07:56] yugrocks commented on #70
Okay. That sounds good. We can do that. :)

[2018-04-03 21:46] manojpandey commented on #70
Hi @yugrocks - any update on slides?
We're having the meetup this Saturday!

[2018-04-03 21:46] manojpandey commented on #69
Hi @yugrocks - any update on slides?
We're having the meetup this Saturday!

[2018-04-03 21:47] manojpandey commented on #68
Hi @pranavsuri  - any update on slides?
We're having the meetup this Saturday!

[2018-04-03 21:47] manojpandey commented on #67
Hi @evalsocket  - any update on slides?
We're having the meetup this Saturday!

[2018-04-04 07:11] yugrocks commented on #69
Hi @manojpandey , I'm working on the slides and will upload them by tomorrow (for this proposal only).

[2018-04-04 07:13] yugrocks commented on #70
Hi @manojpandey I have decided to talk about the other proposal that I had submitted (about Deep Learning in NLP), for this week. So, I'm currently preparing slides for that one only.

[2018-04-04 16:11] manojpandey commented on #69
Sure @yugrocks - looking forward !

[2018-04-04 19:10] pranavsuri commented on #68
Hi @manojpandey! Sorry for the late reply. I'd complete the slides by Thursday afternoon for sure.
You can view the slides on [this link](https://docs.google.com/presentation/d/17adCiC84anzJFWI_aR5yK2bAwK1-6MBzELJiKKjKjFA/edit?usp=sharing). Let me know if I should make some changes.

[2018-04-04 20:25] yugrocks commented on #69
Hello @manojpandey,  [here](https://slides.com/yugalsharma/deck/#/) are the slides that I am preparing. It'll be completed by thursday evening. Till then please review it and let me know if I need to change something :)
Also the Deep Learning part is very brief, and I'm thinking of leaving it (to save time) if enough audience have little to intermediate knowledge of it.

[2018-04-05 13:25] yugrocks commented on #69
Slides added. Please review.

[2018-04-05 21:20] pranavsuri commented on #68
**Update:** I have completed the slides. You can view them at [this link](https://docs.google.com/presentation/d/17adCiC84anzJFWI_aR5yK2bAwK1-6MBzELJiKKjKjFA/edit?usp=sharing).

[2018-04-06 15:06] manojpandey commented on #68
Hey @pranavsuri - LGTM, will you also show the code with the examples?

btw, the meetup is tomorrow at 11pm, and this will be the first talk. Please ping me or @mananpal1997 on telegram to confirm!

[2018-04-06 15:08] manojpandey commented on #69
Hey @yugrocks - I checked the slides. Will you also be using a notebook to show/run the code for some of the projects you listed in your slides?

Btw, the meetup is tomorrow, and this will be the second talk. Can you confirm with me or @mananpal1997 over Telegram ASAP - thanks!

[2018-04-06 15:38] yugrocks commented on #69
No, I've decided not to do hands on for this talk because I'm afraid it may stretch the time of the talk considerably. So I'll not be using any notebook for now.
By the way, the talk is accepted, right?   :)

[2018-04-06 16:08] pranavsuri commented on #68
Hi! I wasn't sure about including code in the PPT because per plot the code is around 5-6 arguments in the function and it might be tough to grasp for the audience through the slides. Although, I can add a small section on `ggplot2` to show how most plots were created. What do you say?

[2018-04-06 16:12] manojpandey commented on #68
Ah, not in the slides, but you can show it separately.
Yeah - a small primer on ggplot2 would be good too - although not forced, as most of the folks would be having JUST python experience ;) - but feel free to !

[2018-04-06 16:13] manojpandey commented on #69
Yes, second slot tomorrow.
Check https://meetup.com/PyDataDelhi for time and venue.

[2018-04-06 16:27] pranavsuri commented on #68
Okay! 😊Minor edits to make; can manage that. 🤘🏼

[2018-04-07 13:03] yindia commented on #67
Sorry... I miss that but I will share my slide link soon for evaluation. I am available after April

[2018-04-19 18:59] ramitsawhney27 opened #72 "Proposal : Feature Selection for Machine Learning"
- Abstract (2-3 lines)
This talk aims to introduce feature selection, particularly wrapper based methods including evolutionary computing for creating efficient and accurate classifiers. It also involves exploring the need for feature selection and the curse of dimensionality.
- Brief Description and Contents to be covered

1. Introduction to the Machine Learning Pipeline
2. Curse of Dimensionalit

[2018-04-19 21:13] manojpandey commented on #72
Hi @ramitsawhney27 - this looks good to me for a lightning talk. Let's schedule this for this meetup itself ? I'll ask my team if we have a slot available. Thanks!

[2018-04-20 11:58] sanketverma1704 commented on #72
Yep, we do have a slot for a Lighting Talk in upcoming meetup. Let's confirm it. :)

[2018-04-20 13:12] manojpandey commented on #72
@ramitsawhney27 Please join the telegram group, and get the slot information from @MSanKeys963 :)
Group: http://bit.do/joinpydd

[2018-05-14 19:29] #72 closed, assigned to nobody

[2018-05-26 19:11] sanketverma1704 commented on #71
Hi @KritiKathuria ! :)
Any updates?

[2018-05-28 23:11] sanketverma1704 commented on #67
Hi @evalsocket !
Any updates?
Can you deliver this talk in upcoming meetup i.e. 2nd June(Saturday) ?

[2018-05-31 08:01] kdhingra307 opened #73 "Machine Learning Techniques for Audio and Speech synthesis"
- Abstract
This talk is about how audio and speech synthesis differs, how it has evolved from the last couple of years with the deep learning techniques. I will be going through both statistical and neural techniques for audio synthesis with a comparison based on performance and quality

- Brief Description and Contents to be covered
Audio and Speech synthesis

- Pre-requisites for the talk

- Tim

[2018-05-31 11:27] manojpandey commented on #73
@Dawny33 Please review sir ;)

[2018-05-31 11:49] Dawny33 commented on #73
The topic looks pretty interesting.

@kdhingra307 Pl add more details regarding how you want to structure the session.

[2018-05-31 14:46] pranavsuri opened #74 "[Proposal]: Exploratory & Explanatory Visualizations (Lightning Talk)"
- **Abstract:**  The overall aim is to provide a summary of Data Visualization. In around 5-7 minutes, this talk would explain two paradigms of data visualizations – Exploratory and Explanatory.

- **Brief Description and Contents to be Covered:** Building up on my [talk](https://github.com/pydatadelhi/talks/issues/68) on Exploratory Data Analysis, this talk aims to emphasize a little more on expl

[2018-05-31 17:00] manojpandey commented on #74
@MSanKeys963 please add this to meetup page as well :)

[2018-06-01 07:05] kdhingra307 commented on #73
Hi @Dawny33 yaa sure

this is kind of overview of what would be comprehensible for most

1. A brief overview of human-computer interaction, why is it so important.
2. Quick basics into signals and what are the major differences between audio and speech synthesis.
Intro to statistical and neural vocoders.
3. Is neural powerful or statistical?? comparison between two (will be using wavenet and griff

[2018-06-04 16:40] Ridhwanluthra commented on #73
@kdhingra307 any update on the slides and jupyter notebook?
We are planning a meetup on 16th and would love you have your talk then.

[2018-06-04 16:41] Ridhwanluthra commented on #70
@yugrocks any update on the slides?
We are planning a meetup on 16th and would love you have your talk then.

[2018-06-05 12:14] yugrocks commented on #70
Hi @Ridhwanluthra,  my exams are ending on 13th June. I'll try to complete the slides prep by 14th.

[2018-06-06 14:02] kdhingra307 commented on #73
@Ridhwanluthra I will add those slides in 1 or 2 days

I would love to give the talk at the next meetup

[2018-06-12 14:15] aaditkapoor opened #75 "Neural Networks and PyTorch"
- Abstract (2-3 lines)
Brief Introduction to Neural Networks and PyTorch

- Brief Description and Contents to be covered
1.A Short Intro to Neural Networks
2. PyTorch Intro
3. Difference between TensorFlow and PyTorch
4. Demo of Pytorch

- Pre-requisites for the talk
1. Python
2. Numpy
3. Basic Machine Learning

- Time required for the talk
20-30 mins

- Link to slides
Will Create the slides

- Wi

[2018-06-14 16:16] #64 closed, assigned to nobody

[2018-06-15 12:49] kdhingra307 commented on #73
Hey guys

I have attached a link to the GitHub repository which contains summary.pdf, this mainly includes the subjects I will be specifically sharing tomorrow

But in general, I will use jupyter notebook, as these will allow an interactive communication. I have yet to add the notebook in the repository, will add them in a couple of hours and update you guys too.

https://github.com/evolution_of_a

[2018-06-16 10:04] prakharcode opened #76 "[proposal] Cracking Backprop with Julia"
- Abstract (2-3 lines)
This talk is majorly based on explaining backprop the heart of deep learning in the relatively new Julia language.

- Brief Description and Contents to be covered
1. Introduction to the Julia Programming will be given. The flow of code and environments will be explained.
2. Backprop will be explained and code will be given to have an interactive session.

- Pre-requisites fo

[2018-06-21 03:37] manojpandey commented on #73
@MSanKeys963 can we slate this for next meetup?

[2018-06-21 03:39] manojpandey commented on #75
@Dawny33 review!

[2018-06-21 05:00] sanketverma1704 commented on #73
This was delivered in the last meetup. I've added the appropriate labels.

[2018-07-05 17:02] Ridhwanluthra commented on #75
hi @akapoorx00 do you have the slides ready?

[2018-07-07 15:42] Yuktichopra opened #77 "You can't trick me"
I'll be covering two topics.
1. Fraud detection using various NLP techniques.
2. Things not to do while stepping into data science.

- Brief Description and Contents to be covered
word2vec
Doc2vec
Topic Modelling
Feature extraction and Exploratory Data Analysis techniques

Pre-req
- Basic Statistics
-Introductory level Python programming

- 15 -20 minutes

- Link to slides
[https://docs.google.com

[2018-07-08 07:24] sanketverma1704 commented on #77
@Dawny33 @shagunsodhani sir!
Please review.

[2018-07-08 07:28] sanketverma1704 commented on #67
@evalsocket can you update on this?
This has been open for a long time and not been delivered by you.
If you can't deliver this for any reason, just tell us. I'll close the issue.

[2018-07-08 07:30] sanketverma1704 commented on #71
Slight reminder @KritiKathuria.

[2018-07-08 07:30] sanketverma1704 commented on #76
Closing this.

[2018-07-08 07:30] #76 closed, assigned to Dawny33

[2018-07-08 11:43] shagunsodhani commented on #77
Hey @Yuktichopra. Thanks for the proposal. The talk seems to be focusing on 2 orthogonal topics. Maybe you could split them into two talks (even if you prefer to give the two talks on the same day).

For the talk on fraud detection, what toolkit/framework and dataset do you plan to use?

For the talk on interview prep, the current slide deck provides a good outline. Maybe you could make them meati

[2018-07-15 06:35] manojpandey commented on #77
Hi @Yuktichopra - any updates here?

[2018-07-16 15:05] KritiKathuria commented on #71
Hi guys! I am terribly sorry for having absconded like this.
I am still highly interested in pydata-delhi, and actively working(again) on the content for this.
My sincere and profuse apologies!!

@MSanKeys963

[2018-07-16 15:08] KritiKathuria commented on #71
@MSanKeys963 , was curious about something.
Recently, was in the organizing team of useR-delhi. That was not restricted by language. Is pydata restricted to only Python, or can one use any language(R, Julia)?

[2018-07-16 16:37] sanketverma1704 commented on #71
You can use Julia, R and other related languages.
We're always looking for talks in R.

[2018-07-31 06:41] Prashantpandey2398 opened #78 "Handwritten Digit and Character Recognition using Python"
- Abstract (2-3 lines)
In this talk, we will be focusing on how Python and Data Science can be used to recognize handwritten digits and character which will ease out the pain of recognizing haphazard writings.

- Brief Description and Contents to be covered
You all would have often faced the issue of not being able to recognize handwriting, either it is a Doctor's prescription or sometimes, even y

[2018-07-31 13:05] shagunsodhani commented on #78
Hey @Prashantpandey2398 Thank you for submitting the proposal. Could you please provide some details about the datasets you plan to use and the framework you would be using.

[2018-08-01 18:05] Prashantpandey2398 commented on #78
I will be using UCI repository's data.

[2018-08-04 09:14] varchanaiyer opened #79 "[Proposal] Detection of Cancer in its Early Stages by using CNNs"
- Abstract (2-3 lines)
There is a strong correlation between a person's DNA and the diseases they might have. This becomes especially important in the case of Cancer where traditional methods to detect cancer can take days and may not be accurate. In this talk, I will show you how you can train a CNN to detect cancer using genetic data. Since DNA data can be huge, this talk will also be about how

[2018-08-05 19:35] manojpandey commented on #79
Hi @Dawny33 @rishikksh20 - can you please review this? Thanks!

[2018-08-06 15:58] Dawny33 commented on #79
@ArchanaIyer1996 The topic sounds very promising.

However, except for point-1, the others don't seem to have a link with cancer detection. Possible to elaborate how you are planning to link the topics with the central theme?

[2018-08-07 05:58] varchanaiyer commented on #79
@Dawny33 Hi, Thanks a lot. The first few slides will define what sort of data are we dealing with. In my case, I had humongous data(about 200+GB) of cpg sites and their percentage of methylation. But following that, I am planning to explain how do you tackle such a large dataset. The purpose of using machine learning for this problem will be described in the first half of the talk only.

You can l

[2018-08-14 07:06] Dawny33 commented on #79
@ArchanaIyer1996 The slides look quite comprehensive enough. ML in healthcare is very rarely talked about, so this talk would hold a lot of value. Good luck!

[2018-08-14 09:05] varchanaiyer commented on #79
Thanks a lot! I really hope it makes an impact! @Dawny33

[2018-08-14 17:03] manojpandey commented on #79
@MSanKeys963 what's the update on the next meetup?

[2018-09-10 18:41] Aakriti23 opened #80 "Regex (PDFs & more)"
- Abstract: PDFs are one of the widely used digital media formats and are used to present and exchange information reliably, independent of the software, hardware and operating system. Extracting data from PDF files can be a tricky task. This is because of the complicated formats,  font, color, and layouts that are stored in PDF files. I shall be showing you how to extract data directly from n num

[2018-09-11 09:10] manasRK commented on #80
@Aakriti23 This looks like an interesting talk, sure the audience will come away having learnt something useful. Though would recommend that you vet the content/agenda with your manager, companies can be quite rigid about any possible IP violation, even with open source stack.

@Dawny33 @manojpandey Thoughts?

[2018-09-11 09:45] Aakriti23 commented on #80
Hi @manasRK

I shall be speaking to my manager regarding the proposal today.
Will update the status as soon as possible.

Thanks!

[2018-09-12 00:27] Dawny33 commented on #80
Nice proposal. Data extraction tasks are some of the most underrated and tricky tasks of the data world.

Would love to see the slides or your Jupyter notebook, if any

[2018-09-12 03:09] Aakriti23 commented on #80
Hi!

I have to submit the proposal to my manager in order to get the approval from him. The proposal should contain the entire agenda of my talk.

This is to ensure that I am not sharing any confidential information with people. I shall be sharing the agenda with my manager today.

Could I please get back to you on the approval bit in another 2-3 days?

[2018-09-12 17:41] sanketverma1704 commented on #80
Yeah, sure @Aakriti23 .

[2018-09-13 20:06] Aakriti23 commented on #80
Hi guys,

As discussed with my manager, I won’t be able to show you the bank letters I worked with in my office project due to confidentiality reasons. However, I can use other PDF documents such as different credit card statements and replicate the extraction part.
Let me know what you guys think about this.

[2018-09-20 16:13] sanketverma1704 commented on #80
I think that'd work. Can you deliver this on 29th September at our upcoming meetup?

[2018-09-20 16:14] sanketverma1704 commented on #79
Hi @ArchanaIyer1996 . Can you deliver this at our upcoming meetup?

[2018-09-20 20:22] Aakriti23 commented on #80
That works for me!

Thanks!

[2018-09-25 07:41] Aakriti23 commented on #80
Hey!
Could you please share the timings and venue of the talk?

[2018-10-01 06:30] varchanaiyer commented on #79
Hi @MSanKeys963 I will be available in Delhi from the 28th of October to the 13th of November. Let me know if you have any meetups coming up, will try for sure to make it!

[2018-10-01 06:56] sanketverma1704 commented on #78
Hi @Prashantpandey2398 can you deliver this in the upcoming meetup?

[2018-10-01 06:59] sanketverma1704 commented on #77
Hi @Yuktichopra any updates?

[2018-10-01 07:01] Yuktichopra commented on #77
Hi. I've moved to bangalore. Is there any chance I can deliver the talk to
folks in bangalore

On Mon, Oct 1, 2018 at 12:29 PM Sanket Verma <notifications@github.com>
wrote:

[2018-10-01 08:07] Prashantpandey2398 commented on #78
Yes, I can deliver this in upcoming meetup.
What is the date for the meetup?

[2018-10-01 14:32] mridubhatnagar opened #81 "Talk Proposal: Introduction to APIs."
- Abstract (2-3 lines)
From HTTP methods, type of responses JSON/XML, using requests module in Python. Followed by working with API's.

- Brief Description and Contents to be covered
What is an API?
Why do we need an API?
What is the purpose behind developer accounts on Facebook, Twitter, Instagram?
Implementation of automation task using one freely available API. In order to get one word per day

[2018-10-01 15:14] sanketverma1704 commented on #79
I'll be sure to notify for upcoming meetups during that time.

[2018-10-01 15:18] sanketverma1704 commented on #77
Yeah, you can. There's a PyData group in Bangalore but that seems inactive at the moment.
You can search for other Data Science groups in Bangalore and approach for this.
I've found one for you. Check this out: https://www.meetup.com/Bangalore-Data-Scientists/

[2018-10-01 15:19] #77 closed, assigned to shagunsodhani, Dawny33

[2018-10-01 17:04] Praneet460 opened #82 "Proposal for the talk: Data Visualization using Matplotlib and Seaborn"
- Abstract (2-3 lines) This workshop will be a hands-on session on data visualization libraries like matplotlib and seaborn.

- Brief Description and Contents to be covered
The basic principles of data exploration and visualization using Python language along with the libraries like Matplotlib and Seaborn. You will learn different methods for exploration of data using visualization techniques. We

[2018-10-01 23:33] sanketverma1704 commented on #71
@KritiKathuria are you planning to deliver this?

[2018-10-03 11:51] pranavsuri opened #83 "[Proposal]: Using Twitter Data for Research"
- **Abstract:**  The overall aim of this lightning talk is to familiarize the audience with research/project ideas to work on using Twitter data.

- **Brief Description and Contents to be Covered:** For people looking to work on a new project, in around 5-7 minutes, this talk would list and overview different domains (refer slides) where Twitter Data can be helpful. Each area listed is accompanied

[2018-10-03 13:21] manojpandey commented on #78
@Prashantpandey2398 Are you ready with the slides?

[2018-10-03 13:22] manojpandey commented on #81
@Dawny33 @shagunsodhani please review :)

[2018-10-03 13:23] manojpandey commented on #71
@KritiKathuria Are you ready with the content?

[2018-10-03 13:51] Prashantpandey2398 commented on #78
Not complete, however if you say I can complete it by tomorrow

[2018-10-03 18:58] shagunsodhani commented on #83
Hey @pranavsuri Thanks for submitting the proposal. It looks mostly good. It would be great if you could include links to some python/R libraries to get started with accessing Twitter data. For example, http://www.tweepy.org/. Also, I am assuming that you yourself have explored these usecases so maybe you could talk about some pitfalls and gotchas to look out for when working on these usecases.

[2018-10-03 19:05] shagunsodhani commented on #82
Hi @Praneet460 Thank you for proposing a workshop session. The content looks good. Best of luck with the presentation.

[2018-10-03 19:11] shagunsodhani commented on #81
Hey @mridubhatnagar Thank you for proposing a talk. Could you provide slides/notebook that you plan to use during the talk?

[2018-10-03 19:25] Praneet460 commented on #82
Please, let me know if you arrange any time slot for my session in the upcoming meetups.

[2018-10-04 02:01] Dawny33 commented on #83
The slides look very nice.

As @shagunsodhani suggested, it'd be nice to have one more slide at the end which can list out libraries and modules people can use for extracting/accessing data from twitter

[2018-10-04 02:04] Dawny33 commented on #81
@mridubhatnagar Would love to see the slides.

Having said that, most 'Intro to API' talks miss the 'testing' part.  So, please have a slide on that too, where you explain people how to test out the APIs which they have built.

It can be by using the requests library, or some API testing tool like postman.

[2018-10-04 05:50] mridubhatnagar commented on #81
Hi @shagunsodhani Thanks for reviewing. Haven't prepared the slides yet. This shall be my first talk. Any specific things that I should include?

[2018-10-04 05:52] mridubhatnagar commented on #81
@Dawny33 Thanks for having a look. And suggesting about testing. That is going to be a definite plus I guess. Yes, I can talk about POSTMAN. As well as writing tests through Pytest to check the API.

Haven't prepared the slides though. Any key topics that I should take care of?

[2018-10-04 07:57] mridubhatnagar commented on #81
Some topics I could think of include.
1. Through various USE CASES examples explain API.
2. API's at work
3. How to create an API
4. How to test an API
5. Possible scenarios to be taken care of while creating an API
6. Requests, Postman

The topic is vast and intent is to keep it short, crisp. So,  that takeaway is worth it.

[2018-10-04 08:48] pranavsuri commented on #83
Hi @shagunsodhani and @Dawny33! Great suggestion! I'd add the said slide.

Also, you gave me more ideas to extend this to a full-length talk. Given that I already have the lightning talk prepared, I was thinking of adding the following modules to extend the talk.

1. Registering for a [Twitter Developer Account](https://apps.twitter.com/)
2. [Twitter APIs](https://developer.twitter.com/en/docs.htm

[2018-10-04 20:31] pranavsuri commented on #83
**Update:** [This](https://docs.google.com/presentation/d/19zVfMFInocSBncjx0bVGrgtObavVQhLV59t-t7JXUE0/edit?usp=sharing) is where I am working on the updated presentation.

**Edit:** The presentation is almost complete, and any updates from here would be minor updates. Would be great to have some suggestions and feedback.

[2018-10-05 08:58] sanketverma1704 commented on #82
Yeah, sure. I'll let you know as soon as we schedule your workshop.

[2018-10-05 18:06] Prashantpandey2398 opened #84 "Building a Stock Price Predictor using Python"
- Abstract (2-3 lines)

Predicting the behaviour of stock market is always an area of interest for researchers. With the advancement in techniques of machine learning and neural networks, it has started gaining more interest and attention because of the fact that if the direction of movement of stock market is predicted successfully then the investors will be guided in a better way.

- Brief Descr

[2018-10-06 07:48] KritiKathuria commented on #71
I am. The content is in R since you said talks in R are welcome. @manojpandey
cc@shagunsodhani @Dawny33

[2018-10-06 11:00] Dawny33 commented on #71
@KritiKathuria No problem. R also comes under the Pydata umbrella.

[2018-10-07 14:38] shagunsodhani commented on #84
Hi @Prashantpandey2398 Thanks for proposing this talk! Could you please add link to slides/notebooks (even if they are a work-in-progress) :)

[2018-10-10 07:00] manojpandey commented on #71
@MSanKeys963 Can we slot this for the next meetup? 😄

[2018-10-10 07:01] manojpandey commented on #82
@MSanKeys963 any updates here?

[2018-10-12 11:50] mridubhatnagar opened #85 "[Lightning Talk]: Virtual Environment in Python"
- Abstract (2-3 lines)
Talk revolves around what exactly is a virtual environment in Python. Need for using a virtual environment. Overtime work is done on the same. Virtual environment, virtual environment wrapper, and now pipenv.

- Brief Description and Contents to be covered
 1. Introduction
 2. Need for using virtual environment
 3. Advantages
 4. Demo of using
        a. Virtual Environment

[2018-10-12 11:52] mridubhatnagar commented on #85
@Dawny33 @shagunsodhani This talk proposal is along with the slides. Looking forward to hearing from you the inputs on the same

[2018-10-14 13:20] shagunsodhani commented on #85
Hey @mridubhatnagar Thank you for proposing the talk.  The slides look good. I suppose much of the time would be taken by in demoing how to install/manage different versions of packages etc. Maybe you could consider having a slide comparing different options we have - `pipenv`, `vene`, possibly `conda` etc. Basically to give audience a sense of summarising the complete picture and inform them abou

[2018-10-15 06:14] mridubhatnagar commented on #85
@shagunsodhani Thank you for reviewing. Yes, that is the primary intent behind the slide titled shortcomings. I plan to start with shortcomings of virtualenv, then talk about virtualenv wrapper is better than virtaulenv. Followed by how pipenv has helped fixing all the hassles present in previous versions.

Then last would be a glance at what the future holds in terms of Python3.8. Virtual environ

[2018-10-15 07:39] Aakriti23 commented on #80
Hey, guys.

Do we have any update here?

[2018-10-15 07:46] mridu3107 commented on #85
@shagunsodhani Haven't explored conda yet though

[2018-10-15 14:55] mridubhatnagar commented on #85
Is this going to be scheduled? Accordingly, I'll prepare

[2018-10-15 16:42] manojpandey commented on #85
@MSanKeys963 ^^

[2018-10-15 16:42] manojpandey commented on #80
@MSanKeys963 / @Arsh23  ^^

[2018-10-15 17:19] sanketverma1704 commented on #80
We'll have our next meetup in last week of October or first week of November.
I'll let you once we schedule your talk.

[2018-10-15 17:20] sanketverma1704 commented on #82
We'll have our next meetup in last week of October or first week of November.
I'll let you once we schedule your talk.

[2018-10-15 17:21] sanketverma1704 commented on #85
We'll have our next meetup in last week of October or first week of November.
I'll let you once we schedule your talk.

[2018-10-15 17:23] mridubhatnagar commented on #85
Thanks :)

[2018-12-10 09:37] sanketverma1704 commented on #82
Hi @Praneet460!
Can you deliver this in our upcoming meetup?

[2018-12-10 17:40] Praneet460 commented on #82
When is the upcoming meetup?

[2018-12-12 10:14] sanketverma1704 commented on #82
It's on 22nd December.

[2018-12-12 10:16] sanketverma1704 commented on #85
Hi @mridubhatnagar.
Can you deliver this in our upcoming meetup?

[2018-12-12 10:17] sanketverma1704 commented on #80
Hi @Aakriti23.
Can you deliver this in our upcoming meetup?

[2018-12-12 11:43] mridubhatnagar commented on #85
Hi @MSanKeys963.
When is the meetup scheduled for?
Can you please share the details.

[2018-12-12 14:30] Aakriti23 commented on #80
Hi Sanket,

Could you please send me the venue, date and time of the talk?

Thanks,
Aakriti Jain

[2018-12-12 15:01] MSanKeys963 commented on #85
Here are the details.

[2018-12-12 15:05] sanketverma1704 commented on #85
Next [meetup](https://www.meetup.com/PyDataDelhi/events/257154099/) is scheduled for 22nd December.
Would you be able to make it?
You can reach me @ svsanketverma5@gmail.com for any questions.

[2018-12-12 15:09] sanketverma1704 commented on #80
Next [meetup](https://www.meetup.com/PyDataDelhi/events/257154099/) is scheduled for 22nd December.
You can reach me @ svsanketverma@gmail.com for any questions.

[2018-12-12 17:31] mridubhatnagar commented on #85
@MSanKeys963 yes. You can schedule this :)

[2018-12-12 18:55] #83 closed, assigned to shagunsodhani, Dawny33

[2018-12-13 10:21] Aakriti23 commented on #80
Sure, this works for me.

[2018-12-14 00:47] Praneet460 commented on #82
Yes,  I am available for 22nd Dec 18

[2018-12-14 07:49] mridubhatnagar commented on #85
@MSanKeys963 just wanted to re-confirm. Has this been scheduled?

[2018-12-14 15:05] sanketverma1704 commented on #85
Yes. You can check the updated agenda [here](https://www.meetup.com/PyDataDelhi/events/257154099/).

[2018-12-14 15:06] sanketverma1704 commented on #82
Please check the updated agenda [here](https://www.meetup.com/PyDataDelhi/events/257154099/).

[2018-12-14 15:06] sanketverma1704 commented on #80
Please check the updated agenda [here](https://www.meetup.com/PyDataDelhi/events/257154099/).

[2018-12-14 16:43] Praneet460 commented on #82
Great.

[2018-12-22 17:37] Aakriti23 commented on #80
Please find the presentation and codes using the link below:

https://github.com/Aakriti23/Regular-Expressions

[2018-12-22 18:36] #85 closed, assigned to shagunsodhani, Dawny33

[2018-12-22 18:36] #82 closed, assigned to shagunsodhani, Dawny33

[2018-12-28 12:06] mridubhatnagar commented on #81
Hey, @Dawny33 @shagunsodhani. Have updated the slides for the talk.
Also, if I go onto explaining how to create an API. Before that I might have to give a basic idea about framework to the participants. Requests module I can still include.

Please let me know about the changes needed in the current one.
Thanks

[2018-12-29 04:51] shagunsodhani commented on #81
Hello @mridubhatnagar. Could you please share the updated slide link. It seems the one on the original issue is old as it does not mention moist od the things you mentioned in your previous comment. :)

[2019-01-01 07:04] mridubhatnagar commented on #81
@shagunsodhani Oh.. yes. I have updated the slides now. Also, as far as creating API is concerned. Should I explain it using Flask and Python? Or skip this part altogether?

As of now I don't have much points for point 5 as well. Possible scenarios to be taken care of while creating an API.

Any inputs will be helpful.

[2019-01-02 19:56] mridubhatnagar commented on #81
Also should I explain HTTP/HTTPS as well?

[2019-01-03 03:05] shagunsodhani commented on #81
Hi @mridubhatnagar

I think you should talk about Flask. For 5, maybe you can take the example of say [GraphQL](https://graphql.org/) along with REST API. Also, much of your talk is about REST APIs so be careful that the audience does not leave with the impression that REST is the only kind of API. Skip the HTTP part.

[2019-01-03 11:14] mridubhatnagar commented on #81
So, instead of covering SOAP API along with REST API. You mean I should cover GraphQL. And likewise in example also I should give one GraphQL example.
Sure. I'll cover up creating API's using flask.

Need to check GraphQL. Haven't worked with it yet.

[2019-01-12 10:59] Praneet460 opened #86 "Get Started With Tensorflow"
**Get Started with TensorFlow**
- Abstract (2-3 lines)
Cover the topics to help students get started with writing their own machine learning programs.

- Brief Description and Contents to be covered
Classification and Regression Algorithms as well as Deep Neural Network

- Pre-requisites for the talk
Little bit knowledge about Python is enough.

- Time required for the talk
1 hr.
- Link to slides

[2019-01-13 22:29] ramantehlan opened #87 "Everything you should know about Genetic Algorithm"
### Abstract (2-3 lines)
This talk is to introduce the audiance to Genetic Algorithms, and cover all the fundamentals. It covers topics like fitness algorithms, mutation, crossover etc. Also real life examples where it can be applied, with limitations and advantages mentioned.

### Brief Description and Contents to be covered
Origin of GA
Science behind GA
Application of GA

### Pre-requisites for

[2019-01-14 04:10] shagunsodhani commented on #86
Hey @Praneet460 Thank you for your proposal. Could you please outline what aspects you are planning to cover (I am sure you are not planning to cover the entire repo in a one-hour setting). I think it will be really interesting if you mention the tf2.0 API as well - as that will be the new standard.

[2019-01-14 10:04] Praneet460 commented on #86
I will cover the tensorflow basics - like,  how to create your first neural network.  And tf.keras api.  All IntroToTF parts

[2019-01-15 14:10] pranavsuri opened #88 "[Proposal]: An Overview of Concept Drift (Lightning Talk)"
- **Abstract:** Data-driven projects often involve data that changes with time. This talk overviews 'Concept Drift' – the challenge of continually changing underlying relationships in the data.

- **Brief Description of the Content:** The talk provides a unifying view on the basic idea of Concept Drift in Data Mining. First I'd introduce the problem of Concept Drift, and discuss how it impacts sup

[2019-01-15 15:09] theAayushbajaj opened #89 "Text Summarization: Is it that simple?"
- Abstract (2-3 lines)
Text Summarization which seems pretty simple but here's the fun fact, No certain breakthroughs has been made in this field which is open-source and gives a significant ROUGE score(or any other comparison parameter). In Automatic Text Summarization, we'll particularly focus on Abstractive Summarization (other is Extractive) which revolves around NLG and NLU using Deep Learnin

[2019-01-15 20:03] MSanKeys963 commented on #87
Please review @shagunsodhani and @Dawny33 sir!

[2019-01-15 20:06] sanketverma1704 commented on #87
Please review @shagunsodhani @Dawny33 .

[2019-01-16 05:58] shagunsodhani commented on #89
Thank you for the proposal @theAayushbajaj. It looks very interesting! Could you please update the link to the slides as well.

[2019-01-16 06:00] shagunsodhani commented on #87
Hey @ramantehlan. the topic is quite intriguing. Looking forward to your slides.

[2019-01-16 06:03] shagunsodhani commented on #86
Cool :) Do mention Tf2.0. Best of luck!

[2019-01-16 06:45] Praneet460 commented on #86
Yes,  sure TF 2.0 comes up with a lot of new features.  I would love to introduce them to the audience.

[2019-01-16 08:19] theAayushbajaj commented on #89
Hi @shagunsodhani ,
I have updated with the slides link,
Suggestions will be appreciated (comment rights to the slides has been enabled)

[2019-01-18 10:24] ramantehlan commented on #87
Hey @shagunsodhani, I have updated the issue.

[2019-01-18 15:03] shagunsodhani commented on #87
Hi @ramantehlan I checked the slides. So far they are good. I am sure you would be adding more slides. So ping me when you are done :)

[2019-01-20 14:52] mridubhatnagar commented on #81
@shagunsodhani @Dawny33 thanks for reviewing this and suggesting the changes. I did cover up the testing part, gave a brief introduction about GraphQL. Talked about fundamental building blocks
Client, server, what is meant by protocol. APIs use cases.  And other things as discussed.

However, covered up requests module. Still creating API with flask was something which could not be picked up. :)

[2019-01-20 16:04] ramantehlan commented on #87
@shagunsodhani  Updated

[2019-01-20 16:11] shagunsodhani commented on #87
Looks good to me. I did not check the game though. Best of luck :)

[2019-02-04 11:43] sanketverma1704 commented on #89
Please review @shagunsodhani !

[2019-02-07 17:15] RahulBaboota opened #90 "Throwing Light on PyTorch"
- Abstract (2-3 lines)
This talk aims to introduce Facebook's Deep Learning library - PyTorch. PyTorch is increasing becoming popular due to it's powerful features and shallow learning curve, making it accessible and easy to use to a larger community. This talk discusses about the 'Autograd' package, which is central to all neural networks in PyTorch. It also entails details about the different fe

[2019-02-07 20:55] shagunsodhani commented on #90
Thank you for your proposal @RahulBaboota I think it is generally good. You might want to update the gifs to have higher resolution. Also, your slides are outdated - you should update the slide deck. For instance, `variable` is deprecated now :)

Best of luck with the talk!

[2019-02-15 16:29] sanketverma1704 commented on #89
Hi @theAayushbajaj.
Can you please include more content in the slides?
It's really difficult to review the slides with existing content.

[2019-02-15 18:15] theAayushbajaj commented on #89
Hi @MSanKeys963 ,
Can you provide me with some reference since I created the slides keeping in mind the talk.
By means of reference, I want to know the exact content length and pipeline flow.
Thank You

[2019-02-15 18:19] theAayushbajaj commented on #89
Hi @MSanKeys963 ,
I'm on it.
I'll comment again once finished.

Thank you

[2019-02-17 10:32] theAayushbajaj commented on #89
Hi @MSanKeys963 ,
Slides link has been updated : https://docs.google.com/presentation/d/1souDktueEFa8aQSCof6bXqjfPxirweBcor5NN7wVTSs/edit?usp=sharing

[2019-02-17 11:37] sanketverma1704 commented on #89
Please have a look @shagunsodhani.

[2019-03-07 20:32] sanketverma1704 commented on #90
Hi @RahulBaboota, have you updated the slides?

[2019-03-07 20:33] sanketverma1704 commented on #89
Hi @theAayushbajaj, would like to deliver this in our upcoming meetup?

[2019-03-08 08:47] theAayushbajaj commented on #89
Hi @MSanKeys963 ,
I would love to deliver this and share my knowledge
when is this meetup scheduled?

[2019-03-09 19:15] sanketverma1704 commented on #89
Next meetup is on 17th of March.
Here: https://www.meetup.com/PyDataDelhi/events/259625888/
Should I confirm your slot?

[2019-03-09 19:34] mridubhatnagar opened #91 "[Proposal]: A Walk-through Databases!"
- Abstract (2-3 lines)
Explain with real-world examples SQL, NoSQL databases.

- Brief Description and Contents to be covered
1. SQL, NoSQL databases with Analogies
2. Use Cases where SQL, NoSQL can be used.
3. Types of NoSQL databases.
4. Difference between SQL, NoSQL. (With analogy explain meaning of vertical scaling, horizontal scaling)
5. Different types of NoSQL databases.
6. Dive into MongoD

[2019-03-10 05:40] theAayushbajaj commented on #89
Yes absolutely,
More details on the same will be appreciated

[2019-03-10 06:43] sanketverma1704 commented on #89
Ping me on +91-8860391089.

[2019-03-10 15:14] ujjwalll opened #92 "Recommendations System with PySpark"
- Abstract (2-3 lines)
Recommendations systems are everywhere around us, and with the explosion of data in the last few years, they are becoming more and more important. Every e-commerce website, whether it is youtube, Amazon, Netflix, google facebook, etc. They all using different recommendation algorithm to show us the best results out of all the enormous data set.
This talk is mainly focused on

[2019-03-11 15:23] RahulBaboota commented on #90
Hi @MSanKeys963, I have updated the slides.

[2019-03-11 15:57] sanketverma1704 commented on #90
Please have a look @shagunsodhani.

[2019-03-12 13:50] shagunsodhani commented on #90
The slides look quite good. Just one point, there are still some references to `Variable`. For example https://slides.com/rahulbaboota/deck#/7/1 I would recommend removing them.

Best of luck with the talk!

[2019-03-12 17:03] RahulBaboota commented on #90
I am sorry for the typo. I have updated the relevant slides.

[2019-03-12 23:15] shagunsodhani commented on #92
Thank you @ujjwalll for proposing a talk. The outline looks good. I think the talk would be even more interesting if you could reduce the amount of text in the slides and increase the font. You could also consider adding some hands-on example so that the talk becomes more engaging.

[2019-03-13 13:02] ujjwalll commented on #92
I have updated the slides according to suggestions. Please have a look at it
[Link for updated slides](https://drive.google.com/file/d/1o8J3rcMCpc_UgCZKN5McLLRBmW3Iby88/view?usp=drivesdk)

Sorry for being late.

[2019-03-13 14:19] shagunsodhani commented on #92
Looks pretty clean now. Best of luck.

[2019-03-16 08:51] schopra6 commented on #89
Hi @theAayushbajaj ,
   It will be really informative for the folks attending if you can explicate state of the art of abstractive text summarization https://aclanthology.info/pdf/E/E17/E17-2047.pdf. and https://arxiv.org/pdf/1705.03122.pdf.

[2019-03-16 09:01] theAayushbajaj commented on #89
Hi,
I'll also be sharing my approach and implementation in the talk.
Considering I got only 15 minutes it will be a bit tricky to explain the
research papers in detail.

On Sat, Mar 16, 2019 at 2:21 PM darke-spirits <notifications@github.com>
wrote:

--
Regards,
Aayush Bajaj

[2019-03-17 18:07] pranavsuri opened #93 "Dealing with Imbalanced Datasets for Classification"
**Abstract:** Data Science practitioners often come across datasets that where data-points from a particular class are rarer than the others. This talk discusses strategies that one can incorporate to deal with class-imbalances for classification.

**Brief Description of the Content:** The talk provides a description of class-imbalances and then delves into methodologies that go into improving cla

[2019-03-20 06:46] viktorrobin opened #94 "Protecting indoor plants from your cats using image recognition, Raspberry Pi and GCP"
### Abstract (2-3 lines)

Cats are known to enjoy playing with indoor plants in a destructive way, which causes a mess in addition to being a cost. We present here a system that **leverages deep learning, Raspberry Pi and Google Cloud** to detect cats playing with indoor plants and stop them from destroying them.

Keywords: tensorflow, cross-validation, deep learning, raspberry pi, image recogniti

[2019-03-22 12:05] sanketverma1704 commented on #91
Please have a look @shagunsodhani .

[2019-03-22 14:38] shagunsodhani commented on #94
Hello, @viktorrobin Thank you for proposing a talk! The topic seems to be very interesting and engaging. I am looking forward to your slides. Are you also planning to make the code open-sourced so that people may play with it?

[2019-03-24 14:25] viktorrobin commented on #94
Hi @shagunsodhani Thanks! Haven't done the slides yet. The code is mainly [already on github](https://github.com/viktorrobin/ceres) but need some tidy up :)

[2019-03-25 07:16] prateek2408 opened #95 "Leveraging parallel processing and cloud computing in Machine learning"
**Abstract**
Machine learning is becoming a standard for doing analysis and it involves using a lot of computing resources. The time it takes to do machine learning is also important as an analyst has to do post processing based on the result. Making the entire modelling process run in parallel and using cloud computing makes ML powerful and enables ML run as a service.

Keywords: containers, mach

[2019-03-26 05:36] razi5287 opened #96 "Scaling Predictive Model Using Spark"
- Abstract (2-3 lines)
With real time data getting piled up, you want your predictive model to be scale-able.
Python ML techniques provides rich functionality and flexibility, using which you can train your model.
However they have high time complexity if same model is used to predict on humongous production data.
The talk presents the idea of Divide n Conquer by Broadcasting the Python Object to

[2019-03-26 08:27] sanketverma1704 commented on #96
Hi @razi5287!
Thanks for the proposal.
We'll give you 5 minutes extra for QnA.

[2019-03-26 14:01] shagunsodhani commented on #96
Hey @razi5287 Thank you for your proposal. It looks very interesting. Could you please share the slide deck here so that we may skim through it once.

[2019-03-26 14:02] shagunsodhani commented on #95
Hey @prateek2408 Thank you for your proposal. It looks very interesting. Could you please share the slide deck here so that we may skim through it once. In general, the content (from the blog) looks very promising. Are you sure one hour would be enough? You might want to make it more of a workshop - given the technologies you would be talking about :)

[2019-03-26 14:06] shagunsodhani commented on #91
Hey @mridubhatnagar  Thank you for your proposal. Could you please share the slide deck here so that we may skim through it once :)

[2019-03-28 16:22] mridubhatnagar commented on #91
@shagunsodhani yes sure. I am yet to prepare the slides though. By Monday I'll update here. Looking forward to the talk in the upcoming meetup :)

[2019-04-04 13:55] jaidevd opened #97 "Bookkeeping in Machine Learning Experiments"
- Abstract (2-3 lines)

Solving a machine learning problem is like traversing a minefield, where the safest path can only be determined by blowing up a significantly large number of mines. You can only figure out the right approach after making a bunch of mistakes. Since there is no general rule for determining a 'best model', most things in deep learning can only be solved with trial and error. T

[2019-04-04 15:02] shagunsodhani commented on #97
Thanks for submitting the talk @jaidevd . It looks pretty interesting. Best of luck :)

[2019-04-05 18:50] viktorrobin commented on #94
@shagunsodhani @MSanKeys963 First version of the slides [here](https://ceres-220016.appspot.com/assets/player/KeynoteDHTMLPlayer.html#0).

I will likely make some minor changes, but let me know if you have any feedback.

Thanks

[2019-04-05 23:36] sanketverma1704 commented on #94
Please have a look @shagunsodhani.

[2019-04-06 11:36] shagunsodhani commented on #94
The slides look good @viktorrobin though it seems incomplete (from slide 16 onwards) or maybe it is too slow to load on my side. Best of luck for the talk.

[2019-04-21 11:25] sanketverma1704 commented on #96
Hi @razi5287.
Updates on slides?

[2019-04-21 11:26] sanketverma1704 commented on #95
Hi @prateek2408.
Updates on slides?

[2019-04-21 11:26] sanketverma1704 commented on #91
Hi @mridubhatnagar.
Any updates on slides?

[2019-04-21 13:06] mridubhatnagar commented on #91
Most likely this week. Any meetup coming?

[2019-04-22 04:33] prateek2408 commented on #95
@MSanKeys963 - Hey, its in progress, It would be completed by this week

[2019-04-22 06:51] sanketverma1704 commented on #91
We would be having one in May.

[2019-04-30 22:55] sanketverma1704 commented on #95
Hi @prateek2408.
Are the slides done?
We're having our next [meetup](https://www.meetup.com/PyDataDelhi/events/261057427/) on 11th May. Would you like to deliver this on the upcoming meetup?

[2019-04-30 22:56] sanketverma1704 commented on #96
Slight reminder @razi5287.

[2019-04-30 22:57] sanketverma1704 commented on #91
Updates on slides @mridubhatnagar?

[2019-05-01 00:50] mridubhatnagar commented on #91
Hey, haven't prepared yet. Would be starting off today.

[2019-05-02 04:37] prateek2408 commented on #95
@MSanKeys963 - I will upload the slides max by tomorrow.
I will confirm about delivering this on the upcoming meetup

[2019-05-03 20:23] nileshpatra opened #98 "Intro to tensorflow.js"
- Abstract (2-3 lines)
This will be a session on tensorflow.js , as it is getting pretty popular as a web framework for machine learning tools and thus serve models on the web .

- Brief Description and Contents to be covered
This will be an intro to tf.js and the various layered APIs that come along with it for leveraging the power of machine learning in the web . It will give an insight to how t

[2019-05-04 05:19] anjalibhavan opened #99 "An Introduction to Google Colaboratory"
- Abstract (2-3 lines)
This talk will be a hands-on tutorial about Google Colaboratory (known more popularly as just Google Colab) - an introduction, why it is needed, how to set it up, configure it for GPU usage and how to run your first program on it.

- Brief Description and Contents to be covered
1. Introduction: What is Google Colab, brief history, why it is needed, advantages
2. GPU - what i

[2019-05-04 16:48] shagunsodhani commented on #99
Hey @anjalibhavan thank you for the proposal. Looking forward to the talk.

[2019-05-04 16:50] shagunsodhani commented on #98
Thank you @nileshpatra for proposing the talk. The topic is pretty interesting and I am looking forward to the slides :)

[2019-05-04 16:57] anjalibhavan commented on #99
Thank you! Would this be for the Pydata Delhi conference in August?

[2019-05-04 16:59] shagunsodhani commented on #99
I think @MSanKeys963 should answer that.

[2019-05-04 17:20] sanketverma1704 commented on #99
No @anjalibhavan. These talks issues are for the meetup. For the conference, we will open the CFP separately.

[2019-05-04 17:22] anjalibhavan commented on #99
Oh alright! The next meetup is on 11th, if I'm correct? My availability on that day is not yet certain, but I would like to give this talk in maybe the next after this in case I'm unable to make it on 11th.

[2019-05-04 17:28] sanketverma1704 commented on #99
Yes, the next meetup is on 11th. But I think we already have outstanding speakers for that. You can RSVP [here](https://www.meetup.com/PyDataDelhi/events/261057427/).

[2019-05-04 18:11] anjalibhavan commented on #99
Oh alright. I'll give a talk in a later meetup then. :)

[2019-05-04 18:12] nileshpatra commented on #98
Sure , I'll add them by tomorrow for sure .

[2019-05-05 06:49] nileshpatra commented on #98
@shagunsodhani , added the link to the slides . Please do have a look :)

[2019-05-05 09:59] shagunsodhani commented on #98
Hey @nileshpatra The slides are good! just 2 suggestions - some of the slides have typos (eg slide 8 "us" vs "use"). Since many people are familiar with tensorflow python api, it would be useful to have a slide comparing tf.js and tf python in terms of api or even just what functionalities are supported.

Best of luck for your talk.

[2019-05-05 10:56] nileshpatra commented on #98
@shagunsodhani thanks for the suggestions , I'll definitely incorporate the changes .
Also wanted to know , when is this talk scheduled?

[2019-05-06 07:18] sanketverma1704 commented on #95
@prateek2408 can you update on slides and whether you can deliver this in the upcoming meetup?

[2019-05-06 13:25] prateek2408 commented on #95
@MSankeys963 - I am not able to gather enough time to complete the slides. Will do it soon.

Regarding the delivery I can present in the upcoming event on 11th May.

In case the slides are a must for the presentation, I can deliver the presentation in the next meetup.

[2019-05-06 13:36] MSanKeys963 commented on #95
Thanks for confirming. Please ping me here +91-8860391089 on WhatsApp.

[2019-05-07 23:02] MSanKeys963 commented on #95
I've updated the agenda [here](https://www.meetup.com/PyDataDelhi/events/261057427/). Ping me if you have any questions.

[2019-05-08 08:39] CalmDownKarm opened #100 "The state of Indic Languages in NLP"
- Abstract (2-3 lines)
The Hindi speaking internet is exploding, Hindi language newspapers absolutely outrank english language papers in terms of circulation. While there are a lot of players in the NLP space in India, those focusing on Indian languages are few and far between.  Let's talk about the situation, the environment, the tooling, the language models, the problems

- Brief Description and

[2019-05-09 09:31] ujjwalll opened #101 "Power consumption prediction models"
- Abstract (2-3 lines)
In today's world, one of the major problems that are faced by us is a shortage of power resources in our world. Electricity is being produced by burning fossil fuels in many of the countries around the world, and we know that we have a shortage of them. So, one solution that comes in our mind is we can save electricity, but how can we save electricity when we are just ignora

[2019-05-11 00:05] shagunsodhani commented on #100
Hey @CalmDownKarm Thank you for proposing the talk. It is an interesting and extremely relevant topic. I am looking forward to your slides.

[2019-05-15 09:46] nileshpatra commented on #98
@shagunsodhani  , @MSanKeys963 , I have updated the slides according to the suggestions . Could you set this talk up in the next meet?

[2019-05-15 09:47] sanketverma1704 commented on #98
I'll let you know once we announce the meetup.

[2019-05-23 13:27] sanketverma1704 commented on #95
Hi, @prateek2408. Would you like to deliver this in our upcoming meetup?

[2019-05-24 17:18] ttanay opened #102 "Streaming Data Pipelines with Apache Beam"
- Abstract (2-3 lines)
Introduction to the Beam model and using Apache Beam to write data pipelines that can run on multiple distributed processing back-ends for streaming as well as batch use cases.
https://beam.apache.org/

- Brief Description and Contents to be covered
1. The Beam Model
2. Streaming Data Pipelines

- Pre-requisites for the talk
Python

- Time required for the talk
30 minutes

-

[2019-05-28 08:33] sanketverma1704 commented on #100
Hi, @CalmDownKarm. Can you update the slides, please? And would you like to deliver this in our upcoming meetup?

[2019-05-28 08:35] sanketverma1704 commented on #99
Hi, @anjalibhavan. Can you update the slides, please?

[2019-05-28 08:46] sanketverma1704 commented on #101
Hi, @ujjwalll. Are you done with the slides?

[2019-05-28 09:01] ujjwalll commented on #101
I'll upload it by tomorrow for sure.

[2019-05-29 02:33] shagunsodhani commented on #102
Hey @ttanay thank you for your talk proposal. The topic is quite interesting and would likely be unfamiliar to many people (so even more value addition!). We are looking forward to your slides :)

[2019-05-29 15:45] CalmDownKarm commented on #100
Yes to deliver this on the 15th, but earliest I can do slides would be this weekend

[2019-05-29 23:57] sanketverma1704 commented on #100
Yeah, sure. That works!

[2019-05-30 16:18] nileshpatra commented on #98
@MSanKeys963 , as I can see that the accepted label is added , could you please confirm if I am in for the next talk? I know it's a bit early to ask , but I actually need to book a couple of tickets accordingly.

[2019-05-31 15:57] sanketverma1704 commented on #101
@shagunsodhani please have a look at slides.

[2019-05-31 17:43] ttanay commented on #102
Thanks, @shagunsodhani. I'll add the slides by end of next week. Also, do you think it would be better to present this at PyData Delhi conference rather than PyData meetup? I'm also thinking of submitting a talk proposal for PyData Delhi.

[2019-05-31 18:49] shagunsodhani commented on #102
cc @MSanKeys963

[2019-05-31 18:55] shagunsodhani commented on #101
Hey @ujjwalll Thanks for the slides. Following are some of the changes that should make the slides more useful:

1. [Slide](https://slides.com/ujjwalsingh-1/deck-2/fullscreen#/2) The last two are not applications of ML.
2. The ticks on the x-axis for some plots are overlapping.
3. [Slide](https://slides.com/ujjwalsingh-1/deck-2/fullscreen#/8/1) seems to be missing content. There is no description

[2019-06-02 14:41] CalmDownKarm commented on #100
https://docs.google.com/presentation/d/1moSbzjQYmBIOs7SUeb1nuEgUr8K_hBiu1IhaNG2Lg6U/edit?usp=sharing Here's an early draft of the slides.

[2019-06-04 08:16] sanketverma1704 commented on #100
@shagunsodhani please have a look.

[2019-06-04 09:38] sanketverma1704 commented on #92
@ujjwalll you want to deliver this in our upcoming meetup?

[2019-06-04 13:30] shagunsodhani commented on #100
Hey @CalmDownKarm The slides look good but I am worried that they would not be sufficient for a 3-45 min talk. If you are planning to talk about more things (or in more detail than what is appears on the slides right now), I would recommend that you add them to the slide for the benefit of the audience.

Best of luck for the talk!

[2019-06-04 15:03] ujjwalll commented on #92
Yes, sure.

[2019-06-05 14:06] mridubhatnagar commented on #91
Is this topic a very trivial topic to explain as a part of the meetup?
I am confused if this is worth taking forward or not. Intent behind was to do it for beginners.
Or should this be a lightning talk?

@shagunsodhani @MSanKeys963

[2019-06-05 22:37] shagunsodhani commented on #91
Well it can be very interesting and useful depending on how you make the slides. I would encourage you to give it a shot.

[2019-06-06 07:56] sanketverma1704 commented on #102
You can present this talk at meetup as well as the conference. Submit your proposal here: https://pydata.org/delhi2019/cfp

[2019-06-10 10:57] ttanay commented on #102
Cool. Thanks!

[2019-06-25 08:43] mekriti opened #103 ": Explainable AI and interpretability of AI solutions: Strategic overview challenges and caveats."
- Abstract: With the exponential increase in computing power available, several AI algorithms that were mere papers written decades ago have become implementable. For a data scientist, it is very tempting to use the most sophisticated algorithm available for every kind of problem. But given that its applicability has moved beyond academia and out into the business world, are numbers alone sufficie

[2019-07-09 16:11] ttanay commented on #102
Hey @MSanKeys963
I've submitted the proposal.
Let me know if I need to add anything else.

[2019-08-15 18:25] sanketverma1704 commented on #103
Please review @shagunsodhani.

[2019-08-15 18:26] sanketverma1704 commented on #102
Hi @ttanay. Would you like to deliver this in our upcoming meetup?

[2019-08-15 18:27] sanketverma1704 commented on #99
Hi @anjalibhavan. Would you like to deliver this in our upcoming meetup?

[2019-08-16 03:00] ttanay commented on #102
Sure. When is it?

[2019-08-16 12:13] shagunsodhani commented on #103
Thanks for the talk proposal @mekriti It looks interesting. If you are planning to make it a ~1.5 hour talk, maybe you could split it into two parts. The two parts can be delivered on the same day - with a 10 min break :)

[2019-08-16 17:20] mekriti commented on #103
Hi,
Thanks for the suggestion.It sounds doable to me.
I will try to keep it shorter but laying the groundwork is essential before I move to the hands-on demo.An audience demographic beforehand would be great.
It can be split because anyway people would need time to set up their systems (if any) in between..

[2019-08-21 19:47] sanketverma1704 commented on #102
7th September. Please ping me on +91-8860391089 for further details.
Can you please update the link for the slides?

[2019-08-26 06:26] sanketverma1704 commented on #102
Soft reminder, @ttanay.

[2019-08-26 06:26] sanketverma1704 commented on #99
Soft reminder, @anjalibhavan.

[2019-08-26 15:03] ttanay commented on #102
Hey @MSanKeys963
sorry missed the previous message.
I'll update it by 28th.

[2019-08-27 16:42] anjalibhavan commented on #99
Hi. Apologies for not responding on time. I won't be free to attend the upcoming meetup, sorry. I will post another talk issue as well later, hopefully to speak at some other meetup in the future.

[2019-08-28 12:13] vihan13singh opened #104 "How a group of Data Scientists beat the Stock Market..."
- Abstract (2-3 lines)
A journey through how a group of mathematicians used algorithms and data to build the most successful trading firm in the world. We will explore how simple statistics can tell you where the stock prices will go and how such concepts can be layered to build a market-beating system.

- Brief Description and Contents to be covered
* What is algorithmic trading
* History of Rena

[2019-08-28 12:49] sanketverma1704 commented on #104
Please have a look @shagunsodhani .

[2019-08-28 14:44] shagunsodhani commented on #104
Thanks for the talk @vihan13singh Could you please add the slide deck as well - to start with, a high level description would also do.

[2019-08-30 09:52] amanintech opened #105 "Creating microservice level ML applications using Flask"
- Abstract (2-3 lines)
a beginner level session to get deep understanding on creating Python applications that can be deployed as microservices maintained properly without the tight coupling issues and scale them as demand increases using Flask.

- Brief Description and Contents to be covered
Flask is a Python library that can be used to call python applications as an API service. These applicatio

[2019-08-31 09:49] manikant-iiitmk opened #106 "One picture is worth than thousand words!(Data Visualization using Python)"
- Abstract (2-3 lines)
One picture is worth than thousand words! The main goal of this Data Visualization with Python talk  is to teach, how to take data that at first glance has little meaning and present that data in a form that makes sense to people. Data Visualization is one of the challenging task after analyzing the data. Analyzing data with sophisticated algorithm or techniques is not suffi

[2019-08-31 10:27] sanketverma1704 commented on #105
Please have a look @shagunsodhani.

[2019-08-31 10:27] sanketverma1704 commented on #106
Please have a look @shagunsodhani.

[2019-09-03 16:31] shagunsodhani commented on #106
Thank you for the proposal @manikant-iiitmk :) It would be helpful for the attendees if you were to add the link to the notebooks a few days before the event.

[2019-09-03 16:33] shagunsodhani commented on #105
Thank you for the proposal @Amanrazdan. It is an interesting topic. Could you please add the slide deck as well - even if it is a work in progress.

[2019-09-04 04:21] manikant-iiitmk commented on #106
@shagunsodhani @MSanKeys963  sure , I will do it :)

[2019-10-05 06:33] sanketverma1704 commented on #103
Hi @mekriti.
Would you like to present this in our upcoming meetup?

[2019-10-05 06:33] sanketverma1704 commented on #105
Slight reminder @Amanrazdan.

[2019-10-07 09:20] mekriti commented on #103
Hi team,
Tentative date?
Thanks and regards,
Kriti

On Sat 5 Oct, 2019, 12:03 PM Sanket Verma, <notifications@github.com> wrote:

[2019-10-07 15:42] sanketverma1704 commented on #103
19th October.

[2019-10-09 05:00] mekriti commented on #103
Hi Team,
I confirm my availability.
As mentioned earlier,I'd like to bring a co-speaker with me[cc'd].
Let us know how to go about it.
Thanks and regards,
Kriti

On Mon, Oct 7, 2019 at 9:12 PM Sanket Verma <notifications@github.com>
wrote:

[2019-10-09 05:40] sanketverma1704 commented on #103
Great. I'll let you know once I'll update the agenda. Thanks!

[2019-10-09 08:10] sanketverma1704 commented on #104
Would you like to present this in our upcoming meetup on 19th October @vihan13singh ?

[2019-10-09 11:38] vihan13singh commented on #104
Sure, would love to.

[2019-10-09 20:05] sanketverma1704 commented on #104
Can you please update the link of the slides?

[2019-10-14 06:27] mekriti commented on #103
Thanks.

[2019-10-15 11:26] ParthikB opened #107 "Neural Networks in a Nutshell"
- Abstract (2-3 lines)
Machine Learning and Artificial Intelligence are today's buzzwords. And the one that is emerging as a hero is Deep Learning, which is nothing but a Deep Neural Network. Being thorough with a basic Neural Network can strengthen one's base before diving into Deep Learning.

- Brief Description and Contents to be covered
A general introduction to Deep Learning and Neural Networ

[2019-10-15 18:54] chetanchawla opened #108 "Not so advanced Advance Driver Assistance Systems!"
**- Abstract (2-3 lines)**
India has a very chaotic road scenario and full autonomy in transportation still looks like a far fetched dream practically. The talk aims to discuss how close we are to developing these autonomous sub-modules building up as ADAS and the ongoing research in the field.

**- Brief Description and Contents to be covered**
The talk revolves around a brief introduction of var

[2019-10-15 22:39] ParthikB opened #109 "# LIGHTNING TALK - Live/Dynamic Plotting with Matplotplib"
- Abstract (2-3 lines)
What do you do well you want to plot some dynamic data? A data which keeps on changing/updating with time. Trust me, you don't want to run the .py file and plot the graph again and again as soon as updated data enters! Enters, "Live Plotting with Matplotlib".

- Brief Description and Contents to be covered
'Live plotting with matplotlib' is just another way to plot the dynam

[2019-10-18 06:09] kriti-sc opened #110 "Application of coordinate geometry in geospatial search algorithms"
- Abstract (2-3 lines)
Gartner’s definition of Big Data, circa 2001 (which is still the go-to definition): Big data is data that contains greater variety arriving in increasing volumes and with ever-higher velocity. In the 20 years since then, the volume, velocity and variety of data has only increased. One such variety is Customer data, which is used for optimized targetting. This mostly consists

[2019-10-18 06:23] kriti-sc commented on #110
Will be adding the slides by EOD

[2019-10-18 16:48] sanketverma1704 commented on #110
Please review @shagunsodhani.

[2019-10-20 12:12] shagunsodhani commented on #110
@kriti-sc Thanks for proposing the talk. The topic is quite interesting. Could you please add the slides as well :)

[2019-10-22 06:49] cosmologist10 opened #111 "Ranking in multi-attribute system"
- Abstract (2-3 lines)
Introduction to the multi-attribute system and Multi-attribute decision making. Implementing two popular decision-making algorithms on evergreen and trending youtube videos.

- Brief Description and Contents to be covered

1. What is a multi-attribute system?
2. Importance & Usage of Ranking in multi-attribute system
3. Problem statement: Ranking of youtube videos of a speci

[2019-10-23 17:03] sanketverma1704 commented on #111
Please have a look @shagunsodhani.

[2019-10-23 18:54] shagunsodhani commented on #111
Hey @cosmologist10 Thanks for the proposal. It looks interesting. Could you specify the toolkits and the datasets that you will be using. Looking forward to the slides.

[2019-10-24 09:54] cosmologist10 commented on #111
Hi @shagunsodhani! Thanks. I will be using :
Toolkit: Ipython.
Dataset: Youtube videos and their engagement(views, comment, upvote, downvote, published_date, and duration)
I will update slides by the mid of next week.

[2019-10-31 19:50] kmjoshi opened #112 "How to create and host standalone data science apps in Python with streamlit.io"
- Abstract (2-3 lines)
Just last month [streamlit](https://streamlit.io/) was launched, a framework/library which makes it very easy to setup interactive data science applications all in Python. Now you don't need to learn frontend!?

- Brief Description and Contents to be covered
Building blocks (functionality) of streamlit, how to setup and run a simple app, walkthrough of various [awesome](http

[2019-10-31 20:40] shagunsodhani commented on #112
Thanks for the proposal @kmjoshi Could you please ping me once you have updated the slides as well.

[2019-11-11 09:48] sanketverma1704 commented on #111
Slight reminder @cosmologist10.

[2019-11-11 09:54] sanketverma1704 commented on #110
Slight reminder @kriti-sc.

[2019-11-11 09:55] sanketverma1704 commented on #112
Slight reminder @kmjoshi.

[2019-11-11 16:07] kmjoshi commented on #112
Yes I'm on it! have got into the habit of proposing first and doing later

[2019-11-12 18:13] kriti-sc commented on #110
I profusely apologize for this delay. Will add by Sunday 17 Nov. I have the material ready, just need to put it into slides

[2019-11-13 17:27] kmjoshi commented on #112
I don't know if I'll have time coming up to work on this to the extent I want, so I'll close the issue and reopen closer to when I'm ready

[2019-11-13 17:27] #112 closed, assigned to nobody

[2019-11-13 18:46] sanketverma1704 commented on #110
Would you like to deliver this in our upcoming meetup?
https://www.meetup.com/PyDataDelhi/events/266436797/

[2019-11-14 10:50] ParthikB opened #113 "Neural Style Transfer - Be world's best painter in 10 minutes! {Hands On}"
- Abstract (2-3 lines)
Neural Style Transfer is a technique using which one can convert there own pictures into amazing artistic pieces! It uses one Content Image and one Style Image (which is usually a painting) and then applies the composition of the Style Image to the Content Image.

- Brief Description and Contents to be covered
Contents I'll cover:
1) Convolutional Neural Network
2) Transfer

[2019-11-14 13:07] kriti-sc commented on #110
Yes I would like that. Can I do a lightning talk?

[2019-11-14 16:05] sanketverma1704 commented on #113
Please have a look @shagunsodhani.

[2019-11-15 05:57] Ankush-Chander opened #114 "Lightening Talk: Introduction to Python Data Model"
- Abstract (2-3 lines)
Python is the language famed for it"s consistency. Dive into one of the concepts provided in python that helps programmer achieve that goal i.e Python Data model.

- Brief Description and Contents to be covered
How  Python data model can be thought of a description of language as a framework. What does it mean for us as programmers?
Topics covered:
1. Magic methods and their

[2019-11-15 23:30] mrkazmi333 opened #115 "Recommendation engine for E-commerce website."
- Abstract (2-3 lines)
Recommender systems are changing from novelties used by a few
E-commerce sites, to serious business tools that are re-shaping
the world of E-commerce. This talk focuses on building a recommender system for an E-commerce website.
- Brief Description and Contents to be covered
The talk will cover the database-driven approach to the collaborative filtering method to build a rec

[2019-11-16 17:54] MSanKeys963 commented on #110
Yeah, sure.
You can ping me on +91-8860391089 for further details.

[2019-11-16 17:55] sanketverma1704 commented on #114
Hi @Ankush-Chander. Thanks for proposing this.
Can I have a look at the slides?

[2019-11-16 21:40] shagunsodhani commented on #115
Thank you for the proposal @mrkazmi333 Please let us know when you have uploaded the slides and are ready to give the talk.

[2019-11-16 21:42] shagunsodhani commented on #113
Hi @ParthikB Thank you for the proposal. Could you please give me edit access to the doc (so that I can make comments there). I have already sent a request.

[2019-11-17 09:22] Ankush-Chander commented on #114
Hi @MSanKeys963.
I will share the slides and hands-on code by end of today.

[2019-11-18 06:59] Ankush-Chander commented on #114
@MSanKeys963,
I just updated the link of jupyter-notebook.
I see talk will be mostly going to be  hands-on and discussion.
Let me know if slides are compulsory or the content is too short or too novice as a lightning talk.
I will add more topics accordingly.

Looking forward to hear from you soon.

[2019-11-18 15:08] sanketverma1704 commented on #110
Hi @kriti-sc.
Can you please update here? Gotta update the agenda.

[2019-11-18 16:41] shanksghub opened #116 "Lightning Talk : Making Python Data Scientists 10x Faster"
- Abstract (2-3 lines)
Pyforest– Importing all Python Data Science Libraries in one line of code.
bamboolib -  bamboolib is a GUI for pandas.

- Brief Description and Contents to be covered
pyforest -   imports all popular Python Data Science libraries so that they are always there when you need them.
bamboolib -  bamboolib is a GUI for pandas. It makes it easy to explore and wrangle your data wit

[2019-11-18 21:15] festusdrakon opened #117 "Lightning Talk: Techniques to Ensure User Privacy when Extracting Business Insights from Data"
- Abstract (2-3 lines)
A walk through how differential privacy and federated learning are implemented to maintain individual user privacy even when the data is being used to generate insights on mass customer behavior to ensure targeted online advertising is implemented at scale.

- Brief Description and Contents to be covered
How targeted advertising generally works
The need for customer privacy

[2019-11-19 03:54] sanketverma1704 commented on #113
Hi @ParthikB. Please give edit access of slides to @shagunsodhani for further reviewing.

[2019-11-19 03:56] sanketverma1704 commented on #114
Looks good to me @Ankush-Chander.
Can I confirm this for upcoming meetup?
Ping me @ +91-8860391089 for further details.

[2019-11-19 03:59] sanketverma1704 commented on #117
Hi @festusdrakon.
Can you provide us with the slides when they're done as the reviewer needs to go through them while reviewing the proposal?

[2019-11-19 15:34] festusdrakon commented on #117
Yes, of course. I'll upload the slides here by this time tomorrow, once I'm through with a couple of pressing prior commitments, if that's alright?

[2019-11-19 18:10] kriti-sc commented on #110
https://docs.google.com/presentation/d/17vx1KALPmyRRLU1L_poDbu-bkQ_fzs4NLA0Z5qN4JbU/edit?usp=sharing

[2019-11-19 18:36] sanketverma1704 commented on #110
Please have a look @shagunsodhani.

[2019-11-19 18:36] sanketverma1704 commented on #117
Yeah, sure. :)

[2019-11-19 19:46] shagunsodhani commented on #110
Hey @kriti-sc . Thanks for adding the slides. It seems the some of the slides are missing. Could you please check once.

[2019-11-21 21:16] mrkazmi333 commented on #115
I just have update the issue with the slide link. Please check it out @shagunsodhani. And sorry for the delay as I was occupied with some other major tasks.

[2019-11-21 21:32] shagunsodhani commented on #115
Thanks @mrkazmi333 I would suggest adding some details about the dataset. Right now, the terms `hCat, `vCat` etc are not intuitive. Rest of the slides look fine.

[2019-11-21 22:02] mrkazmi333 commented on #115
Thanks for the suggestion @shagunsodhani I've just added them.

[2019-11-21 22:35] shagunsodhani commented on #115
Looks good to me!

[2019-11-23 08:37] kriti-sc commented on #110
I have updated the slides @shagunsodhani

[2019-11-23 13:10] shagunsodhani commented on #110
Thanks @kriti-sc I would suggest adding some more content to the slides so that it is useful for people when they go back home and read the slides again. Best of luck for the talk :)

[2019-12-02 14:02] ParthikB commented on #113
Hi @shagunsodhani , @MSanKeys963 I'm really sorry to reply this late, I got caught up in family situation. Anyways, I've open the doc to 'edit access' and please consider my talk for the next PyData Meetup. Thank you.

[2019-12-02 15:48] shagunsodhani commented on #113
@ParthikB I have added my comments. Best of luck for the talk.

[2019-12-03 00:17] ParthikB commented on #113
@shagunsodhani , thanks for the review.
I've updated the doc. Eager to know your thoughts about it.
Thank you.

[2019-12-03 00:31] shagunsodhani commented on #113
Hi @ParthikB
I have replied on all the open comments :)

[2019-12-18 10:42] shanksghub commented on #116
Hi,
I'm interning right now so won't be available soon for the talk or meetup. Please, keep this in consideration for a future meetup.
Thanks

[2019-12-30 06:43] kmjoshi commented on #112
updated with repo link, in case people find it useful
no talking tho...

[2020-01-05 16:56] vihan13singh opened #118 "Chaotic Time Series Analysis"
- Abstract (2-3 lines)

Chaotic dynamical systems are everywhere (biology, society, stock market, weather, double pendulum) and most of them do not have an explicit dynamical equation and can be only understood through the available time series. The talk will discuss and demonstrate the various techniques employed to study chaotic time series data.

- Brief Description and Contents to be covered
*

[2020-01-05 17:49] MSanKeys963 commented on #118
Please have a look @shagunsodhani.

[2020-02-15 12:43] Knlsharma opened #119 "Lightning Talk : Inside View of K8s & Creating Deployment file for a Django Application"
- Abstract (2-3 lines)
   Talk about container theory which is related to the need for container management and How deployment, services handle inside the k8s. Also, getting an understanding of What makes Kubernetes powerful?

- Brief Description and Contents to be covered
 About Container's theory.
 The need for Management the containers
 What is Kubernetes?
 What makes Kubernetes powerful?
 Unde

[2020-02-15 15:37] sanketverma1704 commented on #119
Please have a look @shagunsodhani.

[2020-02-15 22:24] shagunsodhani commented on #119
Hey, @Knlsharma. Thank you for submitting the proposal. The slides and the content looks good — best of luck for the talk.

[2020-02-16 07:47] techytushar opened #120 "Lightning Talk: How to make custom callbacks in TF/Keras"
- Abstract (2-3 lines)
Callbacks are a great feature included in the TF/Keras frameworks. They let you do various tasks during your model training. Although TF/Keras comes with some predefined callbacks, but sometimes you might want to do something extra while your model trains. In this case you can make your custom callbacks and use them.

- Brief Description and Contents to be covered
    * What

[2020-02-16 07:54] Knlsharma commented on #119
Thanks, @shagunsodhani . Can I know the Talk schedule and Venue details.

[2020-02-16 08:56] thisisashukla opened #121 "Lightning Talk - Survival Analysis"
- **Abstract (2-3 lines)**

  Survival analysis was initially used by medical practitioners and actuaries to deal with problems
  such as:

  - What is life expectancy of patients in cohort A as compared to cohort B (where one of the cohorts would be given a drug under study)?
  - What is the life expectancy of the population in Gurgaon?

   However this technique/model(s) are now used for variety

[2020-02-16 20:06] shagunsodhani commented on #119
cc @MSanKeys963

[2020-02-16 20:18] shagunsodhani commented on #120
Looks good to me. I hope you will be using Tf2.0

[2020-02-16 20:31] shagunsodhani commented on #121
Looks good to me. The slides are quite dense. I understand that you are going to trim them for 15 min but I am referring to the text density :) Since it is a lightening talk, I would suggest keeping the slides to the minimal and focusing more on practical aspects.

[2020-02-17 04:29] thisisashukla commented on #121
@shagunsodhani thanks for the suggestion. I'll make the changes.

[2020-02-17 08:16] techytushar commented on #120
Yes, I'll be using TF2.0 for the demo

[2020-02-17 08:59] sanketverma1704 commented on #119
Hi @Knlsharma.
Would you like to deliver this in the upcoming meetup on 29th February?

[2020-02-17 09:09] Knlsharma commented on #119
@MSanKeys963 sure !

[2020-02-18 12:31] sanketverma1704 commented on #119
Please drop me a line @ sanket@pydata.org and we'll take it from there.

[2020-02-18 15:04] realslimshanky opened #122 "Lightning Talk: Scrape and build your own dataset"
### Abstract (2-3 lines)

Many folks in PyData community work with a lot of datasets and sometimes there can be a need to build your own. My talk will focus on how you can build your own dataset using Scrapy framework.

### Brief Description and Contents to be covered

- Scrapy
- Scrapy Cloud

### Pre-requisites for the talk

Attendees need to know how Python works.

### Time required for the talk

[2020-02-20 11:20] thisisashukla commented on #121
@shagunsodhani @MSanKeys963 i have updated the deck and notebook (new URLs above). Made them crisp for 15 minutes. Your feedback would be helpful. Thanks

[2020-02-21 11:30] srijannnd opened #123 "Build Hierarchical Tree View"
- Abstract (2-3 lines)
We will learn how to build a hierarchical tree view on D3.js while leveraging pymongo as our ORM to communicate with MongoDB.

- Brief Description and Contents to be covered
  We will explore **"Model Tree Structures with Parent References"** on MongoDB so that we can build a proper data architecture.
1. Intro to Tree View and use cases
2. Why MongoDB?
3. Pymongo
4. Model Tr

[2020-02-22 04:45] sanketverma1704 commented on #123
Please have a look @shagunsodhani.

[2020-02-23 00:09] shagunsodhani commented on #123
Hey @srijannnd Thank you for submitting the proposal. The slides look good. It seems you would be using Jupyter notebooks for the demo. Could you please share the link to that as well?

[2020-02-23 00:19] shagunsodhani commented on #122
Thanks for the proposal @realslimshanky Could you please ping me when you have added the slides :)

[2020-02-23 00:22] shagunsodhani commented on #121
Thanks @thisisashukla The slides look clean. My only feedback is to go a little slow on the slides with the equations as sometimes people are intimidated by maths :)

[2020-02-23 07:57] srijannnd commented on #123
I was thinking to use flask api and an html page to demo d3's tree view. I can share the source code if you like by tomorrow.
@shagunsodhani

[2020-02-23 09:07] thisisashukla commented on #121
@shagunsodhani yeah I'll take care with the slides with equation.

[2020-02-23 09:07] thisisashukla commented on #121
@MSanKeys963 is this talk confirmed?

[2020-02-24 03:02] sanketverma1704 commented on #121
Yeah, it's confirmed.

[2020-02-24 07:54] thisisashukla commented on #121
thanks a ton @MSanKeys963  and @shagunsodhani . i'll try my best to do justice with the time given and the topic

[2020-02-24 10:01] srijannnd commented on #123
Added source code repo in the issue. Finally went with a Django App. Please have a look. https://github.com/srijannnd/Build-Hierarchical-Tree-View
@shagunsodhani

[2020-02-24 18:54] shagunsodhani commented on #123
LGTM. Best of luck with the talk.

[2020-02-25 05:38] srijannnd commented on #123
Thanks. This is for 29th Feb right?

[2020-02-25 10:10] sanketverma1704 commented on #120
Hi @techytushar.
Would you like to deliver this in our upcoming meetup on 29th February?

[2020-02-25 10:27] techytushar commented on #120
@MSanKeys963 Yes, I can deliver it on 29th Feb meetup.

[2020-02-25 17:24] greatsharma commented on #121
@thisisashukla can you please share the entire original slides for indepth reading

[2020-02-25 19:10] sanketverma1704 commented on #120
Please drop me a line @ sanket@pydata.org for further details.

[2020-02-25 19:40] thisisashukla commented on #121
sure @greatsharma here is the link https://drive.google.com/file/d/1Om8kkO5ZR8W7_qZriMhy3pCJ8ZvqZLAC/view?usp=sharing

[2020-02-26 09:10] sanketverma1704 commented on #123
Yes.

[2020-03-01 06:48] Charliebeta opened #124 "Exploring Pytorch with Googlecolab"
- Exploring Pytorch with Colab.

- content will involve as to What is PyTorch? How is it advanced? What are its limitations? Why it is faster than other modules?

- No pre-requisites.

- 20-25mins needed for the talk.

- slides link will be updated once they are made

-free to deliver talk on 14/15 th March or anytime after.

- Yes there will be hands on project codes.

- AI developer in Zenlabs,Z

[2020-03-01 15:38] shagunsodhani commented on #124
Hey @Charliebeta :) Thank you for proposing the talk. Could you please provide more details about what you exactly are you planning to cover related to PyTorch.

[2020-05-12 08:49] asinga1982 opened #125 "If correlation is not causation, what is causation?"
- Abstract (2-3 lines)
Most of the ML models are limited to finding relationships between variables. In short models are not able to differentiate correlation and causation. Human being's ability to differentiate correlation from causation is the core reason for  their intelligence. How can machines scale to that level of intelligence?

- Brief Description and Contents to be covered
Causal Models,

[2020-05-12 14:35] saheelBreezo opened #126 "Lightning Talk: Introduction to Cloud Optimised GeoTiff"
- Abstract (2-3 lines)
With the ever increasing demand of satellite imagery its availability to everyone has become a challenge for most of the data providers and the users considering the file size which is in gb's. With the introduction of cloud optimized geotiff and http's range requests  you're no longer need to read the whole 20-40 gb image, instead you can read only the segment of the image

[2020-05-14 09:44] sanketverma1704 commented on #126
Please have a look @shagunsodhani.

[2020-05-14 09:44] sanketverma1704 commented on #125
Please have a look @shagunsodhani.

[2020-05-14 13:19] shagunsodhani commented on #126
Thanks for proposing the talk @saheelBreezo . Could you consider adding the installation instructions for the `gdal_translate` tool. You could put it at the end of the slide (just before the thank you slide) so that people know how to get the tool.

[2020-05-14 13:20] shagunsodhani commented on #125
Thanks for proposing the talk @asinga1982 :) Could you please ping me once you have added the link to the slides.

[2020-05-14 15:02] saheelBreezo commented on #126
Hey @shagunsodhani , updated the slides with the installation process.

[2020-05-14 16:40] shagunsodhani commented on #126
Looks good to me. Best of luck with the talk.

[2020-05-14 16:40] shagunsodhani commented on #126
cc @MSanKeys963

[2020-05-15 15:23] jazzykochar opened #127 "3D Bin Packing Problem"
- Abstract (2-3 lines)
We shall demonstrate a solution to the 3D bin packing problem(3DBPP) which aims to find the optimal way of arranging a set of 3D packages in a cargo container by minimizing its space utilization. This problem finds wide applications in pharmaceutical industry, transportation and packaging systems. We shall showcase distributed evolutionary algorithms and intelligent heuristi

[2020-05-15 22:09] eldorodo opened #128 "Reinventing Inventory Planning through Reinforcement Learning"
- Abstract (2-3 lines)
Maintaining right level of inventory for 1000s of SKUs every day is a difficult proposition. If not monitored properly, companies can end with over stocking or understocking issues. We propose a scalable solution to this problem via reinforcement learning agents. A single agent is able to achieve high service level and optimum inventory coverage even for multiple products !

[2020-05-17 14:57] AmanGoyalNayan opened #129 "Autoencoders and PCA"
- Abstract (2-3 lines)
Autoencoders are one of the generative models. They work on unsupervised algorithm.  Autoencoders are mainly used for dimensionality reduction , image denoising , image generation and also recommendation systems.

- Brief Description and Contents to be covered
I would be covering the following topics :
-> Dimensionality Reduction Problem
-> PCA
-> Autoencoders
-> Latent Spac

[2020-05-18 17:06] sanketverma1704 commented on #127
Hi @jazzykochar.
Thanks for proposing the talk.
Can you please ping us when you're done with the slides?

[2020-05-18 17:07] sanketverma1704 commented on #128
Please have a look @shagunsodhani.

[2020-05-19 16:17] shagunsodhani commented on #128
Hey @eldorodo Thanks for proposing the talk. It looks interesting. Best of luck :)

[2020-05-20 19:51] eldorodo commented on #128
Hi @shagunsodhani  Thank you ! Looking forward to it
Hi @MSanKeys963 Request to change the tag for the issue. Please let me know the date of the talk

[2020-05-21 10:20] sanketverma1704 commented on #128
Thanks for reviewing @shagunsodhani.
Hi @eldorodo, will let you know the date and time of the talk once we schedule it.

[2020-05-28 17:52] sanketverma1704 commented on #129
Please have a look @shagunsodhani.

[2020-06-19 02:46] shagunsodhani commented on #125
Removing assignment for now. Feel free to add me once the slides are in :)

[2020-07-21 10:55] eldorodo commented on #128
@MSanKeys963 Please let me know the data & time of the talk if its finalized

[2020-07-21 10:59] sanketverma1704 commented on #128
Hi @eldorodo.
I was just about to ping you. We've finalised your talk for upcoming Sunday i.e. 26th July.
We just need to get on a test call with you to get you familiar with AV logistics. The call would be for 5-10 mins. with the team before Sunday.
We'll let you know about the same soon.

[2020-07-21 12:49] eldorodo commented on #128
Hi @MSanKeys963
Thanks for the information. Will I get some mail /calendar invite? (email = hariram.g@nagarro.com)
Sure. Please let me know when we can do the test call !

[2020-07-21 19:06] sanketverma1704 commented on #128
Yes, will send you an invite.

[2020-07-26 08:03] #110 closed, assigned to nobody

[2020-08-23 11:19] anushbhatia opened #130 "Auto Vaidya Project Proposal"
### Abstract (2-3 lines)
#### Automating your doctor’s hustles and providing you with better healthcare with AI.
An open-source project for serving deep learning-based solutions in clinical scenarios. Lately, deep learning and its application in computer vision have proven to be highly beneficial for medical scenarios like Covid-19 detection, pneumonia identification, brain tumour segmentation, im

[2020-08-25 07:02] anjalibhavan opened #131 "The Science Behind Detecting Hate Speech on Social Media"
- Abstract (2-3 lines)
The concepts, characteristics and study techniques of hate speech on social media, particularly on Twitter. Prevalent research and future scenario.

- Brief Description and Contents to be covered
As times go, this is a particularly contentious time we live in, especially on the internet. There has been a proliferation of hate speech content on various social media websites,

[2020-08-25 12:26] shagunsodhani commented on #131
Thanks for the proposal @anjalibhavan It looks quite interesting. Could you ping me when you have uploaded the slides?

[2020-08-25 18:56] anjalibhavan commented on #131
@shagunsodhani  I've added the slides. In the presentation there's an analysis of just one paper. Let me know if I should add discussion for another one?

[2020-08-25 21:43] shagunsodhani commented on #131
Slides look good. I would suggest blurring the name/profile of the users in twitter screenshots. Best of luck with the talk.

[2020-10-11 19:58] chetanchawla commented on #108
Talk link: https://youtu.be/H28EcxY9Y-Y

[2020-12-21 05:52] arnabbiswas1 opened #132 "How to do Data Science with larger than memory data using Dask?"
- Abstract (2-3 lines)

As a Data Scientist, we face few challenges while dealing with large volume of data:

1. Popular Python libraries like NumPy & Pandas are not designed to scale beyond single processor/core
2. Numpy, Pandas, Scikit-Learn are not designed to scale beyond a single machine
3. If data is bigger than RAM, these libraries can't be used

In this session, I will discuss how these ch

[2020-12-28 21:21] sanketverma1704 commented on #132
Hi @arnabbiswas1. Thanks for the proposal.
@shagunsodhani please have a look.

[2020-12-29 00:09] shagunsodhani commented on #132
Hey @arnabbiswas1 ! Thanks for proposing the talk. The content looks good. Best of luck :)

[2020-12-29 13:40] arnabbiswas1 commented on #132
@MSanKeys963 @shagunsodhani

As mentioned in the proposal, this talk can be delivered as it is (45 minutes). Or it can be extended to 1.5 to 2 hours focusing on usage of Dask just for Data Science use cases (Existing content + Dask Machine Learning + Dask Dashboard for debugging).

Please let me know your thoughts.

[2021-03-16 08:13] anjalibhavan commented on #131
@MSanKeys963  When do you think I can present this talk?

[2021-05-29 09:25] #67 closed, assigned to Dawny33

[2022-05-17 22:14] pavithraes opened #133 "Scaling Data Science with Dask"
### Abstract (2-3 lines)

Python data science tools like pandas, NumPy, and scikit-learn are excellent. However, they use only one core out of the many cores in modern processors and are limited by your computer RAM. In this tutorial, you'll learn to scale your data science workflow to larger datasets+models using Dask, by leveraging the full potential of your laptop, all while staying in the PyDa

[2022-05-18 08:52] chetanchawla opened #134 "[Lightning Talk]: Exploring Starry Realms in the Milky Way with Gaia"
- Abstract (2-3 lines)
Astronomy is the study of the cosmos and celestial objects. With survey missions, satellites, and observatories worldwide and in space, we observe these celestial objects over time to understand their physical natures. Gaia is one such space mission to map over a billion stars in our galaxy, the Milky Way, in 3D. The talk aims to take a look at the openly available Gaia Data

[2022-06-04 15:40] CameronFen opened #135 "Simulated Bayesian Inference for Social Science and Network Models"
- Abstract (2-3 lines)

Simulation-based inference is a technique that uses normalizing flows, GANs, and variational inference to perform likelihood-free Bayesian machine learning.  SBI has applications in fields as diverse as physics, biostatistics, machine learning, and economics.  Following novel papers written by the presenter, this presentation will discuss the benefits of SBI with applicatio

[2022-06-06 06:29] progmatic-99 opened #136 "Creating a distributed key value store"
- Abstract (2-3 lines)
  Implementing a key value data store in Python. Talking about how Meta used to store images and what changes they made.
  How seaweedfs implements Meta's strategy? Why am I creating a key value store from scratch??

- Brief Description and Contents to be covered
    - How Meta used to store images ??
    - What changes they made??
    - Talking about seaweedfs
    - Impleme

[2022-06-10 22:27] sanketverma1704 commented on #135
@shagunsodhani, please have a look.

[2022-06-11 14:05] shagunsodhani commented on #135
Hey @CameronFen Thank you for proposing the talk! I think it is a pretty interesting topic. However, in the current form, it might be too difficult for the audience to appreciate the intricacies of the topic. Our audience is generally not from academia and will likely need some background material to understand concepts like SNPE. One way could be to make it into a multi-part workshop where the fi